@model Models.ASE.Inventory.UploadResultModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p>
    <a class="btn btn-app btn-primary btn-xs" href="@Url.Action("Import")">
        <i class="ace-icon fa fa-check-circle-o bigger-160"></i>
        @Resources.Resource.Confirm
    </a>

    <a class="btn btn-app btn-success btn-xs" href="@Url.Action("Upload")">
        <i class="ace-icon fa fa-ban bigger-160"></i>
        @Resources.Resource.Cancel
    </a>
</p>

<div class="widget-box widget-color-dark">
    <div class="widget-header">
        <h5 class="widget-title bigger lighter">
            盤點結果確認
        </h5>
    </div>

    <div class="widget-body">
        <div class="widget-main no-padding" style="overflow:scroll; max-height:500px;">
            <table class="table table-striped table-bordered table-hover nowrap">
                <thead class="thin-border-bottom">
                    <tr>
                        <th class="center col-sm-1">資料檢查</th>
                        <th>@Resources.Resource.ParentOrganization</th>
                        <th>@Resources.Resource.MaterialType</th>
                        <th>@Resources.Resource.MaterialID</th>
                        <th>@Resources.Resource.MaterialName</th>
                        <th>@Resources.Resource.QTY</th>
                        <th>盤點數量</th>
                        <th>盤差</th>
                        <th>錯誤訊息</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.ItemList)
                    {
                        <tr>
                            <td class="center">
                                @if (item.OK)
                                {
                                    <i class="ace-icon fa fa-check bigger-110 red"></i>
                                }
                            </td>
                            <td>@item.OrganizationDescription</td>
                            <td>@item.EquipmentType</td>
                            <td>@item.ID</td>
                            <td>@item.Name</td>
                            <td>@item.Quantity</td>
                            <td>@item.Q1</td>
                            <td>@item.Diff</td>
                            <td>@item.ErrorMessage</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>