@model System.String

<script type="text/javascript">
    $(document).ready(function () {
        GetSelectedUserList();

        InitUserSelectTree('@Model');

        $('#divUserSelectTreeWidget').hide();
    });

    function GetSelectedUserList() {
        var list = $('#divSelectedUserList');

        $.ajax({
            type: "GET",
            cache: false,
            url: '@Url.Action("GetSelectedUserList")',
            dataType: "html",
            beforeSend: function () { list.Overlay('show'); },
            success: function (data) { list.Overlay('show').html(data); },
            error: function (x, h, r) { list.Overlay('hide').html(x.responseText); }
        });
    }

    function InitUserSelectTree(ancestorOrganizationUniqueID) {
        var container = $('#divUserSelectTreeContainer');

        $.ajax({
            type: "POST",
            cache: false,
            url: '@Url.Action("InitUserSelectTree")',
            data: { AncestorOrganizationUniqueID: ancestorOrganizationUniqueID },
            dataType: "html",
            beforeSend: function () { container.Overlay('show'); },
            success: function (data) { container.Overlay('hide').html(data); },
            error: function (x, h, r) { container.Overlay('hide').html(x.responseText); }
        });
    }

    var UserSelect = function () {
        $('#divSelectedUserWidget').hide();
        $('#divUserSelectTreeWidget').show();
    };

    var CancelUserSelect = function () {
        $('#divSelectedUserWidget').show();
        $('#divUserSelectTreeWidget').hide();
    };

    var AddUser = function () {
        var data = [];

        $("#divUserSelectTree").jstree("get_checked", null, true).each(function () {
            data.push($(this).attr("@Utility.Define.EnumTreeAttribute.OrganizationUniqueID") + '@Utility.Define.Seperator' + $(this).attr("@Utility.Define.EnumTreeAttribute.UserID"));
        });

        $.ajax({
            type: "POST",
            cache: false,
            url: '@Url.Action("AddUser")',
            data: { Selecteds: JSON.stringify(data) },
            dataType: "json",
            beforeSend: function () {
                $('#divUserSelectTreeWidget').hide();
                $('#divSelectedUserWidget').show().Overlay('show');
            },
            success: function (data) {
                $('#divSelectedUserWidget').Overlay('hide');

                if (data.IsSuccess) {
                    GetSelectedUserList();
                    $("#divUserSelectTree").jstree("uncheck_all");
                }
                else {
                    $.ErrorDialog(data.Message);
                }
            },
            error: function (x, h, r) {
                $('#divSelectedUserWidget').Overlay('hide');

                $.ErrorDialog(x.responseText);
            }
        });
    };

    var DeleteUser = function (userID) {
        $.ajax({
            type: "POST",
            cache: false,
            url: '@Url.Action("DeleteUser")',
            data: { UserID: userID, },
            dataType: "json",
            beforeSend: function () { $('#divSelectedUserWidget').Overlay('show'); },
            success: function (data) {
                $('#divSelectedUserWidget').Overlay('hide');

                if (data.IsSuccess) {
                    GetSelectedUserList();
                    $("#divUserSelectTree").jstree("uncheck_all");
                }
                else {
                    $.ErrorDialog(data.Message);
                }
            },
            error: function (x, h, r) {
                $('#divSelectedUserWidget').Overlay('hide');

                $.ErrorDialog(x.responseText);
            }
        });
    };
</script>

<div id="divUserSelectTreeWidget" class="widget-box widget-color-dark">
    <div class="widget-header">
        <h5 class="widget-title">@Resources.Resource.JobUser</h5>
    </div>

    <div class="widget-body">
        <div class="widget-main padding-4">
            <div id="divUserSelectTreeContainer" style="min-height:200px;"></div>
        </div>
        <div class="widget-toolbox padding-8 clearfix">
            <button class="btn btn-primary" onclick="AddUser(); return false;">
                <i class="ace-icon fa fa-plus"></i>
                @Resources.Resource.Select
            </button>
            <button class="btn btn-success" onclick="CancelUserSelect(); return false;">
                <i class="ace-icon fa fa-ban"></i>
                @Resources.Resource.Cancel
            </button>
        </div>
    </div>
</div>

<div id="divSelectedUserWidget" class="widget-box widget-color-dark">
    <div class="widget-header">
        <h5 class="widget-title">@Resources.Resource.JobUser</h5>
        <div class="widget-toolbar">
            <a href="#" onclick="UserSelect(); return false;">
                <i class="ace-icon fa fa-plus white"></i>
            </a>
        </div>
    </div>

    <div class="widget-body">
        <div class="widget-main padding-4">
            <div id="divSelectedUserList" style="min-height:200px;"></div>
        </div>
    </div>
</div>
