@model Models.PipelinePatrol.FileManagement.EditFormModel


<script type="text/javascript">
    $(document).ready(function () {
        $.validator.unobtrusive.parse("#EditForm");

        $('#FormInput_IsDownload2Mobile').prop('checked', $('#FormInput_IsDownload2Mobile').data('checked') == 'Y');
    });

    var Save = function () {
        if ($('#FormInput_FileName').val() == '') {
            $.InfoDialog('@Resources.Resource.FileNameRequired');
        }
        else
        {
            $.ajax({
                type: "POST",
                cache: false,
                url: '@Url.Action("Edit")',
                data: $('#EditForm').serialize(),
                dataType: "json",
                beforeSend: function () { $.Overlay('show'); },
                success: function (data) {
                    $.Overlay('hide');

                    if (data.IsSuccess) {
                        Query();
                        $.SuccessDialog(data.Message);
                    }
                    else {
                        $.ErrorDialog(data.Message);
                    }
                },
                error: function (x, h, r) {
                    $.Overlay('hide');
                    $.ErrorDialog(x.responseText);
                }
            });
        }
    };
</script>

<p>
    @if (ViewBag.CanEdit)
    {
        <button class="btn btn-app btn-primary btn-xs" onclick="Save();" type="button">
            <i class="ace-icon fa fa-save bigger-160"></i>
            @Resources.Resource.Save
        </button>
    }

    <button class="btn btn-app btn-success btn-xs" onclick="Detail('@Model.UniqueID');" type="button">
        <i class="ace-icon fa fa-ban bigger-160"></i>
        @Resources.Resource.Cancel
    </button>
</p>

<div class="widget-box widget-color-dark">
    <div class="widget-header">
        <h5 class="widget-title">@Resources.Resource.Edit @Resources.Resource.File</h5>
    </div>

    <div class="widget-body">
        <div class="widget-main no-padding">
            @using (Html.BeginForm("Edit", null, FormMethod.Post, new { @ID = "EditForm" }))
            {
                @Html.HiddenFor(x => x.UniqueID)

                <table class="table table-bordered table-input">
                    <tr>
                        <th class="col-sm-1">@Html.LabelFor(x => x.FormInput.FileName)</th>
                        <td class="col-sm-11">
                            @Html.TextBoxFor(x => x.FormInput.FileName, new { @class = "col-sm-6" })
                            <br />
                            @Html.ValidationMessageFor(x => x.FormInput.FileName)
                        </td>
                    </tr>
                    <tr>
                        <th>@Html.LabelFor(x => x.FormInput.IsDownload2Mobile)</th>
                        <td>
                            <label>
                                <input id="FormInput_IsDownload2Mobile" name="FormInput.IsDownload2Mobile" class="ace ace-checkbox-2" type="checkbox" value="true" data-checked="@(Model.FormInput.IsDownload2Mobile ? "Y" : "N")">
                                <span class="lbl"></span>
                            </label>
                        </td>
                    </tr>
                </table>
            }
        </div>
    </div>
</div>