@model IEnumerable<Models.GuardPatrol.RouteManagement.ControlPointModel>

<script type="text/javascript">
    $(document).ready(function () {
        $('.accordionContainer, #tabLinkContainer').sortable();
        $('.ControlPointCheckItemTBody').sortable().disableSelection();

        $('.ControlPointCheckItem, .ControlPointCheckItemParent').each(function () {
            if ($(this).data('checked') == 'Y') {
                $(this).prop('checked', true);
            }
        });

        $('.ControlPointCheckItemParent').click(function () {
            var parent = $(this);
            var controlPointUniqueID = parent.data('controlpointuniqueid');
            var checked = parent.prop('checked') ? 'Y' : 'N';

            $('.ControlPointCheckItem').each(function () {
                var chk = $(this);
                if (chk.data('controlpointuniqueid') == controlPointUniqueID) {
                    chk.prop('checked', checked == 'Y');
                }
            });
        });

        $('#divTab').css('min-height', $('#tabLinkContainer').css('height')+30);
    });
</script>

<div id="divTab" class="tabbable tabs-left">
    <ul id="tabLinkContainer" class="nav nav-tabs">
        @foreach (var controlPoint in Model)
        {
            <li class="tabLink" data-controlpointuniqueid="@controlPoint.UniqueID">
                <a data-toggle="tab" href="@("#" + controlPoint.UniqueID)" data-controlpointuniqueid="@controlPoint.UniqueID">
                    <i class="ace-icon fa fa-trash-o bigger-130 red" style="cursor:pointer;" title="@Resources.Resource.Delete" onclick="DeleteControlPoint('@controlPoint.UniqueID'); return false;"></i>
                    @(controlPoint.ID + "/" + controlPoint.Description)
                </a>
            </li>
        }
    </ul>

    <div class="tab-content">
        @foreach (var controlPoint in Model)
        {
            <div id="@controlPoint.UniqueID" class="tab-pane">
                <p>@Resources.Resource.MinTimeSpan <input type="text" data-controlpointuniqueid="@controlPoint.UniqueID" class="MinTimeSpan col-sm-1" value="@controlPoint.MinTimeSpan" /> @Resources.Resource.Minute</p>

                @if (controlPoint.CheckItemList.Count > 0)
                {
                    <table class="table table-striped table-bordered table-hover">
                        <thead class="thin-border-bottom">
                            <tr>
                                <th class="col-sm-1 center">
                                    <label>
                                        <input class="ace ace-checkbox-2 ControlPointCheckItemParent" type="checkbox" value="true" data-checked="@(controlPoint.CheckItemList.Any(x => x.IsChecked == false) ? "N" : "Y")" data-controlpointuniqueid="@controlPoint.UniqueID">
                                        <span class="lbl"> </span>
                                    </label>
                                </th>
                                <th>@Resources.Resource.CheckType</th>
                                <th>@Resources.Resource.CheckItemID</th>
                                <th>@Resources.Resource.CheckItemDescription</th>
                            </tr>
                        </thead>
                        <tbody class="ControlPointCheckItemTBody">
                            @foreach (var item in controlPoint.CheckItemList)
                            {
                                <tr>
                                    <td class="center">
                                        <label>
                                            <input class="ace ace-checkbox-2 ControlPointCheckItem" type="checkbox" value="true" data-controlpointuniqueid="@controlPoint.UniqueID" data-checkitemuniqueid="@item.UniqueID" data-checked="@(item.IsChecked ? "Y" : "N")">
                                            <span class="lbl"> </span>
                                        </label>
                                    </td>
                                    <td>@item.CheckType</td>
                                    <td>@item.CheckItemID</td>
                                    <td>@item.CheckItemDescription</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                }
            </div>
        }
    </div>
</div>