@model Models.EquipmentMaintenance.ProgressQuery.ControlPointModel

<script type="text/javascript">
    $(document).ready(function () {
        @foreach (var item in Model.CheckItemList)
        {
            foreach (var result in item.CheckResultList.Where(x => x.HavePhoto))
            {
                <text>$(".@result.UniqueID").colorbox({ rel: '@result.UniqueID', maxWidth: '100%', maxHeight: '100%' });</text>
            }
        }
    });
</script>

<p>
    <button class="btn btn-app btn-success btn-xs" onclick="Detail('@Model.JobResultUniqueID', '');" type="button">
        <i class="ace-icon fa fa-ban bigger-160"></i>
        @Resources.Resource.Back
    </button>
</p>

<div class="widget-box widget-color-dark">
    <div class="widget-header">
        <h5 class="widget-title bigger lighter">
            @Model.ControlPoint
        </h5>
    </div>

    <div class="widget-body">
        <div class="widget-main no-padding" style="overflow:scroll; max-height:500px;">
            <table class="table table-striped table-bordered table-hover nowrap">
                <thead class="thin-border-bottom">
                    <tr>
                        <th class="center">@Resources.Resource.Abnormal</th>
                        <th class="center"><i class="ace-icon fa fa-image bigger-130"></i></th>
                        <th>@Resources.Resource.Equipment</th>
                        <th>@Resources.Resource.CheckItem</th>
                        <th class="center">@Resources.Resource.CheckDate</th>
                        <th class="center">@Resources.Resource.CheckTime</th>
                        <th>@Resources.Resource.CheckResult</th>
                        <th class="center">@Resources.Resource.LowerLimit</th>
                        <th class="center">@Resources.Resource.LowerAlertLimit</th>
                        <th class="center">@Resources.Resource.UpperAlertLimit</th>
                        <th class="center">@Resources.Resource.UpperLimit</th>
                        <th class="center">@Resources.Resource.Unit</th>
                        <th class="center">@Resources.Resource.Remark</th>
                        <th>@Resources.Resource.CheckUser</th>
                        <th>@Resources.Resource.AbnormalReason @Resources.Resource.And @Resources.Resource.HandlingMethod</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.CheckItemList)
                    {
                        if (item.CheckResultList.Count > 0)
                        {
                            <tr>
                                <td class="center">
                                    @if (item.CheckResultList[0].IsAbnormal)
                                    {
                                        <span class="label label-lg label-danger arrowed-right">@Resources.Resource.Abnormal</span>
                                    }
                                    else if (item.CheckResultList[0].IsAlert)
                                    {
                                        <span class="label label-lg label-warning arrowed-right">@Resources.Resource.Warning</span>
                                    }
                                </td>
                                <td class="center">
                                    @if (item.CheckResultList[0].HavePhoto)
                                    {
                                        <a class="purple @item.CheckResultList[0].UniqueID" href="@Url.Content("~/EquipmentPatrolPhoto/" + item.CheckResultList[0].PhotoList[0])">
                                            <i class="ace-icon fa fa-image bigger-130"></i>
                                        </a>

                                        for (int j = 1; j < item.CheckResultList[0].PhotoList.Count; j++)
                                        {
                                            <a class="@item.CheckResultList[0].UniqueID hide" href="@Url.Content("~/EquipmentPatrolPhoto/" + item.CheckResultList[0].PhotoList[j])">
                                                <i class="ace-icon fa fa-image bigger-130"></i>
                                            </a>
                                        }
                                    }
                                </td>
                                <td rowspan="@item.CheckResultList.Count">@item.Equipment</td>
                                <td rowspan="@item.CheckResultList.Count">@item.CheckItem</td>
                                <td class="center">@item.CheckResultList[0].CheckDate</td>
                                <td class="center">@Utility.DateTimeHelper.TimeString2TimeStringWithSeperator(item.CheckResultList[0].CheckTime)</td>
                                <td>@item.CheckResultList[0].Result</td>
                                <td class="center">@item.CheckResultList[0].LowerLimit</td>
                                <td class="center">@item.CheckResultList[0].LowerAlertLimit</td>
                                <td class="center">@item.CheckResultList[0].UpperAlertLimit</td>
                                <td class="center">@item.CheckResultList[0].UpperLimit</td>
                                <td class="center">@item.CheckResultList[0].Unit</td>
                                <td class="center">@item.CheckResultList[0].Remark</td>
                                <td>@Model.ArriveRecordList.First(x => x.UniqueID == item.CheckResultList[0].ArriveRecordUniqueID).User.User</td>
                                <td>@item.CheckResultList[0].AbnormalReasons</td>
                            </tr>

                            for (int i = 1; i < item.CheckResultList.Count; i++)
                            {
                                <tr>
                                    <td class="center">
                                        @if (item.CheckResultList[i].IsAbnormal)
                                        {
                                            <span class="label label-lg label-danger arrowed-right">@Resources.Resource.Abnormal</span>
                                        }
                                        else if (item.CheckResultList[i].IsAlert)
                                        {
                                            <span class="label label-lg label-warning arrowed-right">@Resources.Resource.Warning</span>
                                        }
                                    </td>
                                    <td class="center">
                                        @if (item.CheckResultList[i].HavePhoto)
                                        {
                                            <a class="purple @item.CheckResultList[i].UniqueID" href="@Url.Content("~/EquipmentPatrolPhoto/" + item.CheckResultList[i].PhotoList[0])">
                                                <i class="ace-icon fa fa-image bigger-130"></i>
                                            </a>

                                            for (int j = 1; j < item.CheckResultList[i].PhotoList.Count; j++)
                                            {
                                                <a class="@item.CheckResultList[i].UniqueID hide" href="@Url.Content("~/EquipmentPatrolPhoto/" + item.CheckResultList[i].PhotoList[j])">
                                                    <i class="ace-icon fa fa-image bigger-130"></i>
                                                </a>
                                            }
                                        }
                                    </td>
                                    <td class="center">@item.CheckResultList[i].CheckDate</td>
                                    <td class="center">@Utility.DateTimeHelper.TimeString2TimeStringWithSeperator(item.CheckResultList[i].CheckTime)</td>
                                    <td>@item.CheckResultList[i].Result</td>
                                    <td class="center">@item.CheckResultList[i].LowerLimit</td>
                                    <td class="center">@item.CheckResultList[i].LowerAlertLimit</td>
                                    <td class="center">@item.CheckResultList[i].UpperAlertLimit</td>
                                    <td class="center">@item.CheckResultList[i].UpperLimit</td>
                                    <td class="center">@item.CheckResultList[i].Unit</td>
                                    <td class="center">@item.CheckResultList[i].Remark</td>
                                    <td>@Model.ArriveRecordList.First(x => x.UniqueID == item.CheckResultList[i].ArriveRecordUniqueID).User.User</td>
                                    <td>@item.CheckResultList[i].AbnormalReasons</td>
                                </tr>
                            }
                        }
                        else
                        {
                            <tr>
                                <td></td>
                                <td></td>
                                <td>@item.Equipment</td>
                                <td>@item.CheckItem</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td class="center">@item.LowerLimit</td>
                                <td class="center">@item.LowerAlertLimit</td>
                                <td class="center">@item.UpperAlertLimit</td>
                                <td class="center">@item.UpperLimit</td>
                                <td class="center">@item.Unit</td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
