@model Models.ASE.AbnormalNotify.GridViewModel

<div class="widget-box widget-color-dark">
    <div class="widget-header">
        <h5 class="widget-title bigger lighter">
            @Resources.Resource.AbnormalNotifyForm
        </h5>
        @if (ViewBag.CanCreate)
        {
            <div class="widget-toolbar">
                <a href="#" onclick="Create(); return false;">
                    <i class="ace-icon fa fa-plus white"></i>
                </a>
            </div>
        }
        
    </div>

    <div class="widget-body">
        <div class="widget-main no-padding" style="overflow:scroll; max-height:500px;">
            <table class="table table-striped table-bordered table-hover nowrap">
                <thead class="thin-border-bottom">
                    <tr>
                        <th class="col-sm-1 center"></th>
                        <th class="center">@Resources.Resource.VHNO</th>
                        <th class="center">@Resources.Resource.Status</th>
                        <th>@Resources.Resource.Subject</th>
                        <th>@Resources.Resource.OccurTime</th>
                        <th>@Resources.Resource.CreateTime</th>
                        <th>@Resources.Resource.CreateUser</th>
                        <th>後續追蹤負責單位</th>
                        <th>@Resources.Resource.TakeJobUser</th>
                        <th>@Resources.Resource.TakeJobTime</th>
                        <th>@Resources.Resource.ClosedTime</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.ItemList)
                    {
                        <tr>
                            <td class="center">
                                <div class="action-buttons">
                                    <a class="blue" href="#" onclick="Detail('@item.UniqueID');" title="@Resources.Resource.Detail">
                                        <i class="ace-icon fa fa-search-plus bigger-130"></i>
                                    </a>

                                    @if (item.CreateUserID == (Session["Account"] as Models.Authenticated.Account).ID)
                                    {
                                        <a class="green" href="#" onclick="Edit('@item.UniqueID');" title="@Resources.Resource.Edit">
                                            <i class="ace-icon fa fa-pencil bigger-130"></i>
                                        </a>
                                    }

                                    @if (item.Status == "1" && item.ResponsibleOrganizationList.Contains((Session["Account"] as Models.Authenticated.Account).OrganizationUniqueID))
                                    {
                                        <a class="orange" href="#" onclick="TakeJob('@item.UniqueID');" title="@Resources.Resource.TakeJob">
                                            <i class="ace-icon fa fa-download bigger-130"></i>
                                        </a>
                                    }
                                    
                                    @if (item.Status == "2" && item.TakeJobUserID == (Session["Account"] as Models.Authenticated.Account).ID)
                                    {
                                        <a class="purple" href="#" onclick="Closed('@item.UniqueID');" title="@Resources.Resource.Closed">
                                            <i class="ace-icon fa fa-wrench bigger-130"></i>
                                        </a>
                                    }
                                </div>
                            </td>
                            <td class="center">@item.VHNO</td>
                            <td class="center">
                                @if (item.Status == "0")
                                {
                                    <span class="label label-lg label-success arrowed-right">@item.StatusDescription</span>
                                }
                                else if (item.Status == "1")
                                {
                                    <span class="label label-lg label-danger arrowed-right">@item.StatusDescription</span>
                                }
                                else if (item.Status == "2")
                                {
                                    <span class="label label-lg label-primary arrowed-right">@item.StatusDescription</span>
                                }
                                else if (item.Status == "3")
                                {
                                    <span class="label label-lg label-success arrowed-right">@item.StatusDescription</span>
                                }
                                else
                                {
                                    <span>@item.StatusDescription</span>
                                }
                            </td>
                            <td>@item.Subject</td>
                            <td>@item.OccurTimeString</td>
                            <td>@item.CreateTimeString</td>
                            <td>@item.CreateUser</td>
                            <td>@item.ResponsibleOrganization</td>
                            <td>@item.TakeJobUser</td>
                            <td>@item.TakeJobTimeString</td>
                            <td>@item.ClosedTimeString</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>





