@model Models.ASE.AbnormalNotify.QueryFormModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles
{
<link href="@Url.Content("~/Content/tree.css")" rel="stylesheet">
<link href="@Url.Content("~/assets/css/datepicker.css")" rel="stylesheet" />
<link href="@Url.Content("~/assets/css/bootstrap-timepicker.css")" rel="stylesheet" />
<link href="@Url.Content("~/assets/css/select2.css")" rel="stylesheet" />
}

@section Scripts
{
<script type="text/javascript" src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.min.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/jquery.validate.min.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/jquery.jstree.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/validator.parseDynamicContent.js")"></script>
<script type="text/javascript" src="@Url.Content("~/assets/js/jquery.maskedinput.min.js")"></script>
<script type="text/javascript" src="@Url.Content("~/assets/js/date-time/bootstrap-datepicker.min.js")"></script>
<script type="text/javascript" src="@Url.Content("~/assets/js/date-time/locales/bootstrap-datepicker."+ViewBag.Lang+".js")"></script>
<script type="text/javascript" src="@Url.Content("~/assets/js/select2.min.js")"></script>
<script type="text/javascript" src="@Url.Content("~/assets/js/date-time/bootstrap-timepicker.min.js")"></script>

<script type="text/javascript">
    $(function () {
        $('#divQueryFormContainer').show();
        $('#divFormContainer').hide();

        $('.datepicker').datepicker({
            format: '@string.Format("yyyy{0}mm{0}dd", Utility.Define.DateTimeFormat_DateSeperator)',
            language: "@ViewBag.Lang"
        }).on('changeDate', function () {
            $(this).focusout();
            $(this).datepicker('hide');
        }).mask('@string.Format("9999{0}99{0}99", Utility.Define.DateTimeFormat_DateSeperator)').next().on(ace.click_event, function () {
            $(this).prev().focus();
        });

        Query();
    });

    var Form = function (url, data) {
        $('#divQueryFormContainer').hide();
        $('#divFormContainer').show();

        var form = $('#divForm');

        $.ajax({
            type: "GET",
            cache: false,
            url: url,
            data: data,
            dataType: "html",
            beforeSend: function () { form.Overlay('show'); },
            success: function (data) { form.Overlay('show').html(data); },
            error: function (x, h, r) { form.Overlay('hide').html(x.responseText); }
        });
    };

    function Query() {
        $('#divQueryFormContainer').show();
        $('#divFormContainer').hide();

        var div = $('#divQueryResult');

        $.ajax({
            type: "GET",
            cache: false,
            url: '@Url.Action("Query")',
            data: $('#QueryForm').serialize(),
            dataType: "html",
            beforeSend: function () { div.Overlay('show'); },
            success: function (data) { div.Overlay('show').html(data); },
            error: function (x, h, r) { div.Overlay('hide').html(x.responseText); }
        });
    }

    var Detail = function (uniqueID) {
        Form('@Url.Action("Detail")', { UniqueID: uniqueID });
    }

    var Create = function () {
        Form('@Url.Action("Create")');
    }

    var Edit = function (uniqueID) {
        Form('@Url.Action("Edit")', { UniqueID: uniqueID });
    }

    var TakeJob = function (uniqueID) {
        Form('@Url.Action("TakeJob")', { UniqueID: uniqueID });
    }

    var Closed = function (uniqueID) {
        Form('@Url.Action("Closed")', { UniqueID: uniqueID });
    }

    var RepairForm = function (uniqueID) {
        Form('@Url.Action("RepairForm")', { UniqueID: uniqueID });
    }

    var Cancel = function () {
        $('#divForm').empty();
        $('#divQueryResult').empty();

        $('#divQueryFormContainer').show();
        $('#divFormContainer').hide();
    };
</script>

}

<div class="row" id="divQueryFormContainer">
    <div class="col-xs-12">
        <div class="widget-box widget-color-dark">
            <div class="widget-header">
                <h5 class="widget-title">@Resources.Resource.Search</h5>
                <div class="widget-toolbar">
                    <a href="#" onclick="Query(); return false;">
                        <i class="ace-icon fa fa-search white"></i>
                    </a>
                </div>
            </div>

            <div class="widget-body">
                <div class="widget-main no-padding">
                    @using (Html.BeginForm("Query", null, FormMethod.Post, new { @ID = "QueryForm" }))
                    {
                        <table class="table table-bordered table-input">
                            <tr>
                                <th class="col-sm-1"><label>@Resources.Resource.OccurDate</label></th>
                                <td class="col-sm-2">
                                    <div class="input-group">
                                        @Html.TextBoxFor(x => x.Parameters.BeginDateString, new { @class = "form-control datepicker" })
                                        <span class="input-group-addon">
                                            <i class="fa fa-calendar bigger-110"></i>
                                        </span>
                                    </div>
                                </td>
                                <td class="col-sm-2">
                                    <div class="input-group">
                                        @Html.TextBoxFor(x => x.Parameters.EndDateString, new { @class = "form-control datepicker" })
                                        <span class="input-group-addon">
                                            <i class="fa fa-calendar bigger-110"></i>
                                        </span>
                                    </div>
                                </td>
                                <th class="col-sm-1">@Html.LabelFor(x => x.Parameters.Status)</th>
                                <td class="col-sm-6">@Html.DropDownListFor(x => x.Parameters.Status, Model.StatusSelectItemList)</td>
                            </tr>
                            <tr>
                                <th class="col-sm-1">@Html.LabelFor(x => x.Parameters.VHNO)</th>
                                <td colspan="4">@Html.TextBoxFor(x => x.Parameters.VHNO)</td>
                            </tr>
                        </table>
                    }
                </div>
            </div>
        </div>

        <div class="space"></div>

        <div id="divQueryResult" style="min-height:200px;"></div>
    </div>
</div>

<div class="row" id="divFormContainer">
    <div class="col-xs-12">
        <div id="divForm" style="min-height:200px;"></div>
    </div>
</div>