@model Models.ASE.QA.MSAForm_v2.VerifyFormModel

<script type="text/javascript">
    var Approve = function () {
        $.ajax({
            type: "POST",
            cache: false,
            url: '@Url.Action("Approve")',
            data: $('#VerifyForm').serialize(),
            dataType: "json",
            beforeSend: function () { $.Overlay('show'); },
            success: function (data) {
                $.Overlay('hide');

                if (data.IsSuccess) {
                    Query();
                    $.SuccessDialog(data.Message);
                }
                else {
                    $.ErrorDialog(data.Message);
                }
            },
            error: function (x, h, r) {
                $.Overlay('hide');
                $.ErrorDialog(x.responseText);
            }
        });
    };

    var Reject = function (seq) {
        var comment = $('#FormInput_Comment').val();

        if (comment == '') {
            $.InfoDialog('@Resources.Resource.VerifyCommentRequired');
        }
        else {
            $.ajax({
                type: "POST",
                cache: false,
                url: '@Url.Action("Reject")',
                data: $('#VerifyForm').serialize(),
                dataType: "json",
                beforeSend: function () { $.Overlay('show'); },
                success: function (data) {
                    $.Overlay('hide');

                    if (data.IsSuccess) {
                        Query();
                        $.SuccessDialog(data.Message);
                    }
                    else {
                        $.ErrorDialog(data.Message);
                    }
                },
                error: function (x, h, r) {
                    $.Overlay('hide');
                    $.ErrorDialog(x.responseText);
                }
            });
        }
    };
</script>

<p>
    <button class="btn btn-app btn-primary btn-xs" onclick="Approve();" type="button">
        <i class="ace-icon fa fa-check-circle-o bigger-160"></i>
        @Resources.Resource.Approve
    </button>

    <button class="btn btn-app btn-danger btn-xs" onclick="Reject();" type="button">
        <i class="ace-icon fa fa-times-circle-o bigger-160"></i>
        @Resources.Resource.Reject
    </button>
    <a class="btn btn-app btn-primary btn-xs" href="@Url.Action("Export", new { UniqueID = Model.UniqueID, VHNO = Model.FormViewModel.VHNO })">
        <i class="ace-icon fa fa-file-excel-o bigger-160"></i>
        報表
    </a>

    <button class="btn btn-app btn-success btn-xs" onclick="Query();" type="button">
        <i class="ace-icon fa fa-ban bigger-160"></i>
        @Resources.Resource.Cancel
    </button>
</p>

@using (Html.BeginForm("Verify", null, FormMethod.Post, new { @ID = "VerifyForm" }))
{
    @Html.HiddenFor(x => x.UniqueID)

    <div class="widget-box widget-color-dark">
        <div class="widget-header">
            <h5 class="widget-title">@Resources.Resource.VerifyComment</h5>
        </div>

        <div class="widget-body">
            <div class="widget-main no-padding">
                <table class="table table-bordered table-input">
                    <tr>
                        <th class="col-sm-1">@Html.LabelFor(x => x.FormInput.Comment)</th>
                        <td colspan="3" class="col-sm-11">@Html.TextBoxFor(x => x.FormInput.Comment, new { @class = "col-sm-11" })</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
}

<div class="space"></div>

    <div class="widget-box widget-color-dark">
    <div class="widget-header">
        <h5 class="widget-title">MSA執行單</h5>

        <div class="widget-toolbar">
            <a href="#" data-action="collapse">
                <i class="ace-icon fa fa-chevron-up"></i>
            </a>
        </div>
    </div>

    <div class="widget-body">
        <div class="widget-main no-padding">
            <table class="table table-bordered table-input">
                <tr>
                    <th class="col-sm-1">@Html.LabelFor(x => x.FormViewModel.VHNO)</th>
                    <td class="col-sm-5">@Html.DisplayFor(x => x.FormViewModel.VHNO)</td>
                    <th class="col-sm-1"><label>狀態</label></th>
                    <td class="col-sm-5">
                        @if (Model.FormViewModel.Status.StatusCode == "2" || Model.FormViewModel.Status.StatusCode == "4")
                        {
                            <span class="label label-lg label-danger arrowed-right">@Model.FormViewModel.Status.Display</span>
                        }
                        else if (Model.FormViewModel.Status.StatusCode == "1")
                        {
                            <span class="label label-lg label-primary arrowed-right">@Model.FormViewModel.Status.Display</span>
                        }
                        else if (Model.FormViewModel.Status.StatusCode == "3")
                        {
                            <span class="label label-lg label-purple arrowed-right">@Model.FormViewModel.Status.Display</span>
                        }
                        else if (Model.FormViewModel.Status.StatusCode == "4")
                        {
                            <span class="label label-lg label-success arrowed-right">@Model.FormViewModel.Status.Display</span>
                        }
                        else if (Model.FormViewModel.Status.StatusCode == "6")
                        {
                            <span class="label label-lg label-grey arrowed-right">@Model.FormViewModel.Status.Display</span>
                        }
                        else
                        {
                            <span>@Model.FormViewModel.Status.Display</span>
                        }
                    </td>
                </tr>
                <tr>
                    <th class="col-sm-1"><label>類型</label></th>
                    <td>@Html.DisplayFor(x => x.FormViewModel.TypeDisplay)</td>
                    <th class="col-sm-1">@Html.LabelFor(x => x.FormViewModel.Station)</th>
                    <td class="col-sm-5">@Html.DisplayFor(x => x.FormViewModel.Station)</td>
                </tr>
                <tr>
                    <th class="col-sm-1"><label>儀器名稱</label></th>
                    <td colspan="3">@Html.DisplayFor(x => x.FormViewModel.MSAIchi)</td>
                </tr>
                <tr>
                    <th class="col-sm-1">@Html.LabelFor(x => x.FormViewModel.MSACharacteristic)</th>
                    <td class="col-sm-5">@Html.DisplayFor(x => x.FormViewModel.MSACharacteristic)</td>
                    <th class="col-sm-1">@Html.LabelFor(x => x.FormViewModel.MSARange)</th>
                    <td class="col-sm-5">@Html.DisplayFor(x => x.FormViewModel.MSARange)</td>
                </tr>
                <tr>
                    <th class="col-sm-1">@Html.LabelFor(x => x.FormViewModel.CreateTimeString)</th>
                    <td class="col-sm-5">@Html.DisplayFor(x => x.FormViewModel.CreateTimeString)</td>
                    <th class="col-sm-1">@Html.LabelFor(x => x.FormViewModel.MSAResponsor)</th>
                    <td>@Html.DisplayFor(x => x.FormViewModel.MSAResponsor)</td>
                </tr>
                <tr>
                    <th class="col-sm-1"><label>預計MSA日期</label></th>
                    <td class="col-sm-5">@Html.DisplayFor(x => x.FormViewModel.EstMSADateString)</td>
                    <th class="col-sm-1"><label>實際MSA日期</label></th>
                    <td class="col-sm-5">@Html.DisplayFor(x => x.FormViewModel.MSADateString)</td>
                </tr>
            </table>
        </div>
    </div>
</div>

<div class="space"></div>

@Html.Partial("_Equipment", Model.FormViewModel.Equipment)

<div class="space"></div>

@if (Model.FormViewModel.Type == "1")
{
    <div class="widget-box widget-color-dark">
        <div class="widget-header">
            <h5 class="widget-title">Gage Stability Study</h5>
            <div class="widget-toolbar">
                <a href="#" data-action="collapse">
                    <i class="ace-icon fa fa-chevron-up"></i>
                </a>
            </div>
        </div>

        <div class="widget-body">
            <div class="widget-main no-padding" style="overflow-x:scroll;">
                <table class="table table-bordered table-input">
                    @if (Model.FormViewModel.StabilityResult != null)
                    {
                        <tr>
                            <th colspan="2">Result</th>
                            <td colspan="3">
                                @if (Model.FormViewModel.StabilityResult.Result == "P")
                                {
                                    <span class="label label-lg label-success">@Model.FormViewModel.StabilityResult.ResultDisplay</span>
                                }

                                @if (Model.FormViewModel.StabilityResult.Result == "F")
                                {
                                    <span class="label label-lg label-danger">@Model.FormViewModel.StabilityResult.ResultDisplay</span>
                                }
                            </td>
                            <th colspan="2">Stability</th>
                            <td colspan="3">@Model.FormViewModel.StabilityResult.Stability</td>
                            <th colspan="2">Stdev</th>
                            <td colspan="20">@Model.FormViewModel.StabilityResult.Stdev</td>
                        </tr>
                    }
                    <tr>
                        <th class="center" colspan="4">校驗編號</th>
                        <th class="center" colspan="4">儀器名稱</th>
                        <th class="center" colspan="3">儀器型號</th>
                        <th class="center" colspan="5">站別</th>
                        <th class="center" colspan="2">頻率</th>
                        <th class="center" colspan="2">單位</th>
                        <th class="center" colspan="2">規格下限</th>
                        <th class="center" colspan="2">規格上限</th>
                        <th class="center" colspan="2">準備日期</th>
                        <th class="center" colspan="3">執行日期</th>
                        <th class="center" colspan="3">執行者</th>
                    </tr>
                    <tr>
                        <td class="center" colspan="4">@Model.FormViewModel.Equipment.MSACalNo</td>
                        <td class="center" colspan="4">@Model.FormViewModel.Equipment.IchiDisplay</td>
                        <td class="center" colspan="3">@Model.FormViewModel.Equipment.Model</td>
                        <td class="center" colspan="5">@Model.FormViewModel.Station</td>
                        <td class="center" colspan="2">5次/DAY</td>
                        <td class="center" colspan="2">@Model.FormViewModel.Unit</td>
                        <td class="center" colspan="2">@Model.FormViewModel.StabilityLowerRange</td>
                        <td class="center" colspan="2">@Model.FormViewModel.StabilityUpperRange</td>
                        <td class="center" colspan="2">@Model.FormViewModel.StabilityPrepareDateString</td>
                        <td class="center" colspan="3">@Model.FormViewModel.StabilityExeDate</td>
                        <td class="center" colspan="3">@Model.FormViewModel.MSAResponsor</td>
                    </tr>
                    <tr>
                        <th colspan="2" class="center">Point</th>
                        @for (int point = 1; point <= 30; point++)
                        {
                            <th class="center">@point</th>
                        }
                    </tr>
                    <tr>
                        <th rowspan="5" class="center">DATA</th>
                        <th class="center">1</th>
                        @for (int point = 1; point <= 30; point++)
                        {
                            <td class="center">@Model.FormViewModel.StabilityList.First(x => x.Point == point).ValueList.First(x => x.Data == 1).Value</td>
                        }
                    </tr>
                    @for (int data = 2; data <= 5; data++)
                    {
                        <tr>
                            <th class="center">@data</th>
                            @for (int point = 1; point <= 30; point++)
                            {
                                <td class="center">@Model.FormViewModel.StabilityList.First(x => x.Point == point).ValueList.First(x => x.Data == data).Value</td>
                            }
                        </tr>
                    }
                    <tr>
                        <th class="center" colspan="2">DATE</th>
                        @for (int point = 1; point <= 30; point++)
                        {
                            <td class="center">@Model.FormViewModel.StabilityList.First(x => x.Point == point).DateString</td>
                        }
                    </tr>
                </table>
            </div>
        </div>
    </div>

    <div class="space"></div>

    <div class="widget-box widget-color-dark">
        <div class="widget-header">
            <h5 class="widget-title">GAGE BIAS & LINEARITY STUDY</h5>
            <div class="widget-toolbar">
                <a href="#" data-action="collapse">
                    <i class="ace-icon fa fa-chevron-up"></i>
                </a>
            </div>
        </div>

        <div class="widget-body">
            <div class="widget-main no-padding">
                <table class="table table-bordered table-input">
                    <tr>
                        <th class="center" colspan="2">PERFORMED BY</th>
                        <th class="center" colspan="2">DATE</th>
                    </tr>
                    <tr>
                        <td class="center" colspan="2">@Model.FormViewModel.MSAResponsor</td>
                        <td class="center" colspan="2">@Model.FormViewModel.BLDateString</td>
                    </tr>
                    <tr>
                        <th class="col-sm-3 center">EQUIPMENT NAME(儀器名稱)</th>
                        <th class="col-sm-3 center">EQUIPMENT NO.(校驗編號)</th>
                        <th class="col-sm-3 center">PART MEASURED(量測package type)</th>
                        <th class="col-sm-3 center">CHARACTERISTIC MEASURED(量測特性)</th>
                    </tr>
                    <tr>
                        <td class="center">@Model.FormViewModel.Equipment.IchiDisplay</td>
                        <td class="center">@Model.FormViewModel.Equipment.MSACalNo</td>
                        <td class="center">@Model.FormViewModel.BLPackageType</td>
                        <td class="center">@Model.FormViewModel.MSACharacteristic</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

    <div class="space"></div>

    <div class="widget-box widget-color-dark">
        <div class="widget-header">
            <h5 class="widget-title">BIAS</h5>
            <div class="widget-toolbar">
                <a href="#" data-action="collapse">
                    <i class="ace-icon fa fa-chevron-up"></i>
                </a>
            </div>
        </div>

        <div class="widget-body">
            <div class="widget-main no-padding" style="overflow-x:scroll;">
                <table class="table table-bordered table-input">
                    @if (Model.FormViewModel.BiasResult != null)
                    {
                        <tr>
                            <th>Result</th>
                            <td colspan="2">
                                @if (Model.FormViewModel.BiasResult.Result == "P")
                                {
                                    <span class="label label-lg label-success">@Model.FormViewModel.BiasResult.ResultDisplay</span>
                                }

                                @if (Model.FormViewModel.BiasResult.Result == "F")
                                {
                                    <span class="label label-lg label-danger">@Model.FormViewModel.BiasResult.ResultDisplay</span>
                                }
                            </td>
                            <th colspan="2">t statistic</th>
                            <td colspan="3">@Model.FormViewModel.BiasResult.TStatistic</td>
                            <th colspan="3">Significant t value(2-tailed)</th>
                            <td colspan="5">@Model.FormViewModel.BiasResult.SignificantT</td>
                        </tr>
                    }
                    <tr>
                        <th>Ref. Value</th>
                        <td colspan="15">@Model.FormViewModel.BiasReferenceValue</td>
                    </tr>
                    <tr>
                        <th>Trials</th>
                        @for (int trials = 1; trials <= 15; trials++)
                        {
                            <th class="center">@trials</th>
                        }
                    </tr>
                    <tr>
                        <th>Data</th>
                        @for (int trials = 1; trials <= 15; trials++)
                        {
                            <td class="center">@Model.FormViewModel.BiasList.First(x => x.Trials == trials).Value</td>
                        }
                    </tr>
                </table>
            </div>
        </div>
    </div>

    <div class="space"></div>

    <div class="widget-box widget-color-dark">
        <div class="widget-header">
            <h5 class="widget-title">Linearity</h5>
            <div class="widget-toolbar">
                <a href="#" data-action="collapse">
                    <i class="ace-icon fa fa-chevron-up"></i>
                </a>
            </div>
        </div>

        <div class="widget-body">
            <div class="widget-main no-padding">
                <table class="table table-bordered table-input">
                    @if (Model.FormViewModel.LinearityResult != null)
                    {
                        <tr>
                            <th>Result</th>
                            <td colspan="2">
                                @if (Model.FormViewModel.LinearityResult.Result == "P")
                                {
                                    <span class="label label-lg label-success">@Model.FormViewModel.LinearityResult.ResultDisplay</span>
                                }

                                @if (Model.FormViewModel.LinearityResult.Result == "F")
                                {
                                    <span class="label label-lg label-danger">@Model.FormViewModel.LinearityResult.ResultDisplay</span>
                                }
                            </td>
                            <th>t58,0.975</th>
                            <td colspan="2">@Model.FormViewModel.LinearityResult.t58</td>
                        </tr>
                        <tr>
                            <th>ta</th>
                            <td colspan="2">@Model.FormViewModel.LinearityResult.ta</td>
                            <th>tb</th>
                            <td colspan="2">@Model.FormViewModel.LinearityResult.tb</td>
                        </tr>
                    }

                    <tr>
                        <th class="col-sm-2">Ref. Value</th>
                        @for (int i = 1; i <= 5; i++)
                        {
                            <td class="col-sm-2 center">@Model.FormViewModel.LinearityList.First(x => x.Trials == i).ReferenceValue</td>
                        }
                    </tr>
                    <tr>
                        <th class="col-sm-2">Trials</th>
                        @for (int i = 1; i <= 5; i++)
                        {
                            <th class="col-sm-2 center">@i</th>
                        }
                    </tr>
                    @for (int data = 1; data <= 12; data++)
                    {
                        <tr>
                            <th class="col-sm-2">@data</th>
                            @for (int trials = 1; trials <= 5; trials++)
                            {
                                <td class="col-sm-2 center">@Model.FormViewModel.LinearityList.First(x => x.Trials == trials).ValueList.First(x => x.Data == data).Value</td>
                            }
                        </tr>
                    }
                </table>
            </div>
        </div>
    </div>

    <div class="space"></div>

    <div class="widget-box widget-color-dark">
        <div class="widget-header">
            <h5 class="widget-title">GAGE Repeatability & Reproducibility Study(高)</h5>
            <div class="widget-toolbar">
                <a href="#" data-action="collapse">
                    <i class="ace-icon fa fa-chevron-up"></i>
                </a>
            </div>
        </div>

        <div class="widget-body">
            <div class="widget-main no-padding" style="overflow-x:scroll;">
                @{
                    var GRRH = Model.FormViewModel.GRRList.First(x => x.Level == "H");
                    var GRRHAppraiserA = GRRH.AppraiserList.First(x => x.Appraiser == "A");
                    var GRRHAppraiserB = GRRH.AppraiserList.First(x => x.Appraiser == "B");
                    var GRRHAppraiserC = GRRH.AppraiserList.First(x => x.Appraiser == "C");
                }

                @if (Model.FormViewModel.GRRHResult != null)
                {
                    <table class="table table-bordered table-input">

                        <tr>
                            <th class="col-sm-1">Result</th>
                            <td class="col-sm-3">
                                @if (Model.FormViewModel.GRRHResult.Result == "P")
                                {
                                    <span class="label label-lg label-success">PASS</span>
                                }

                                @if (Model.FormViewModel.GRRHResult.Result == "I")
                                {
                                    <span class="label label-lg label-warning">IMPROVE</span>
                                }

                                @if (Model.FormViewModel.GRRHResult.Result == "R")
                                {
                                    <span class="label label-lg label-danger">REJECT</span>
                                }
                            </td>
                            <th class="col-sm-1">%GRR</th>
                            <td class="col-sm-3">
                                @if (Model.FormViewModel.GRRHResult.GRR.HasValue)
                                {
                                    <label>@(Model.FormViewModel.GRRHResult.GRR.HasValue ? string.Format("{0:P2}", Model.FormViewModel.GRRHResult.GRR.Value) : "") </label>
                                }
                            </td>
                            <th class="col-sm-1">ndc</th>
                            <td class="col-sm-3">@Model.FormViewModel.GRRHResult.ndc</td>
                        </tr>
                    </table>
                }
                <table class="table table-bordered table-input">
                    <tr>
                        <th class="center" colspan="2">PERFORMED BY</th>
                        <th class="center" colspan="5">DATE</th>
                    </tr>
                    <tr>
                        <td class="center" colspan="2">@Model.FormViewModel.MSAResponsor</td>
                        <td class="center" colspan="5">@GRRH.DateString</td>
                    </tr>
                    <tr>
                        <th class="center">EQUIPMENT  NAME/No<br />(校驗名稱/編號)</th>
                        <th class="center">PART MEASURED<br />(量測package type)</th>
                        <th class="center">CHARACTERISTIC MEASURED<br />(量測特性)</th>
                        <th class="center" colspan="2">SPEC<br />(製程/PACKABGE規格)</th>
                        <th class="center" colspan="3">TV USED</th>
                    </tr>
                    <tr>
                        <td class="center" rowspan="4">@Model.FormViewModel.Equipment.MSACalNo</td>
                        <td class="center" rowspan="4">@Model.FormViewModel.GRRHPackageType</td>
                        <td class="center" rowspan="4">@Model.FormViewModel.MSACharacteristic</td>
                        <th style="text-align:left;">USL</th>
                        <td>@Model.FormViewModel.GRRHUSL</td>
                        <td class="center">
                            @if (Model.FormViewModel.GRRHTvUsed == "1")
                            {
                                <i class="ace-icon fa fa-check bigger-110 red"></i>
                            }
                        </td>
                        <th style="text-align:left;">COMBINED GRR&PV</th>
                    </tr>
                    <tr>
                        <th style="text-align:left;">CL</th>
                        <td>@Model.FormViewModel.GRRHCL</td>
                        <td class="center">
                            @if (Model.FormViewModel.GRRHTvUsed == "2")
                            {
                                <i class="ace-icon fa fa-check bigger-110 red"></i>
                            }
                        </td>
                        <th style="text-align:left;">Ppk TARGET VALUE</th>
                    </tr>
                    <tr>
                        <th style="text-align:left;">LSL</th>
                        <td>@Model.FormViewModel.GRRHLSL</td>
                        <td class="center">
                            @if (Model.FormViewModel.GRRHTvUsed == "3")
                            {
                                <i class="ace-icon fa fa-check bigger-110 red"></i>
                            }
                        </td>
                        <th style="text-align:left;">STANDARD DEVIATION</th>
                    </tr>
                    <tr>
                        <td colspan="2"></td>
                        <td class="center">
                            @if (Model.FormViewModel.GRRHTvUsed == "4")
                            {
                                <i class="ace-icon fa fa-check bigger-110 red"></i>
                            }
                        </td>
                        <th style="text-align:left;">PART'S TOLERANCE/6</th>
                    </tr>
                </table>
                <table class="table table-bordered table-input">
                    <tr>
                        <th class="center">Appraiser/<br />Trial #</th>
                        <th class="center" colspan="10">PART</th>
                    </tr>
                    <tr>
                        <th></th>
                        @for (int part = 1; part <= 10; part++)
                        {
                            <th class="center">@part</th>
                        }
                    </tr>
                    <tr>
                        <th class="center">Appraiser A</th>
                        @for (int part = 1; part <= 10; part++)
                        {
                            <td class="center">@GRRHAppraiserA.ValueList.First(x => x.Trials == 1 && x.Part == part).Value</td>
                        }
                    </tr>
                    <tr>
                        <td class="center">@GRRHAppraiserA.UserID</td>
                        @for (int part = 1; part <= 10; part++)
                        {
                            <td class="center">@GRRHAppraiserA.ValueList.First(x => x.Trials == 2 && x.Part == part).Value</td>
                        }
                    </tr>
                    <tr>
                        <td></td>
                        @for (int part = 1; part <= 10; part++)
                        {
                            <td class="center">@GRRHAppraiserA.ValueList.First(x => x.Trials == 3 && x.Part == part).Value</td>
                        }
                    </tr>
                    <tr>
                        <th class="center">Appraiser B</th>
                        @for (int part = 1; part <= 10; part++)
                        {
                            <td class="center">@GRRHAppraiserB.ValueList.First(x => x.Trials == 1 && x.Part == part).Value</td>
                        }
                    </tr>
                    <tr>
                        <td class="center">@GRRHAppraiserB.UserID</td>
                        @for (int part = 1; part <= 10; part++)
                        {
                            <td class="center">@GRRHAppraiserB.ValueList.First(x => x.Trials == 2 && x.Part == part).Value</td>
                        }
                    </tr>
                    <tr>
                        <td></td>
                        @for (int part = 1; part <= 10; part++)
                        {
                            <td class="center">@GRRHAppraiserB.ValueList.First(x => x.Trials == 3 && x.Part == part).Value</td>
                        }
                    </tr>
                    <tr>
                        <th class="center">Appraiser C</th>
                        @for (int part = 1; part <= 10; part++)
                        {
                            <td class="center">@GRRHAppraiserC.ValueList.First(x => x.Trials == 1 && x.Part == part).Value</td>
                        }
                    </tr>
                    <tr>
                        <td class="center">@GRRHAppraiserC.UserID</td>
                        @for (int part = 1; part <= 10; part++)
                        {
                            <td class="center">@GRRHAppraiserC.ValueList.First(x => x.Trials == 2 && x.Part == part).Value</td>
                        }
                    </tr>
                    <tr>
                        <td></td>
                        @for (int part = 1; part <= 10; part++)
                        {
                            <td class="center">@GRRHAppraiserC.ValueList.First(x => x.Trials == 3 && x.Part == part).Value</td>
                        }
                    </tr>
                </table>
            </div>
        </div>
    </div>

    if (Model.FormViewModel.AnovaHResult != null)
    {
        <div class="space"></div>

        <div class="widget-box widget-color-dark">
            <div class="widget-header">
                <h5 class="widget-title">ANOVA(高)</h5>
                <div class="widget-toolbar">
                    <a href="#" data-action="collapse">
                        <i class="ace-icon fa fa-chevron-up"></i>
                    </a>
                </div>
            </div>

            <div class="widget-body">
                <div class="widget-main no-padding">
                    <table class="table table-bordered table-input">
                        <tr>
                            <th class="col-sm-2">GR&R (%TV)<br />(Precision to Total Variation)</th>
                            <td class="col-sm-4">
                                @if (Model.FormViewModel.AnovaHResult.TV.HasValue)
                                {
                                    <label>@(Model.FormViewModel.AnovaHResult.TV.HasValue ? string.Format("{0:P2}", Model.FormViewModel.AnovaHResult.TV.Value) : "") </label>
                                }
                            </td>
                            <th class="col-sm-2">GR&R (%PT)<br />(Precision to Tolerance )</th>
                            <td class="col-sm-4">
                                @if (Model.FormViewModel.AnovaHResult.PT.HasValue)
                                {
                                    <label>@(Model.FormViewModel.AnovaHResult.PT.HasValue ? string.Format("{0:P2}", Model.FormViewModel.AnovaHResult.PT.Value) : "") </label>
                                }
                            </td>
                        </tr>
                        <tr>
                            <th class="col-sm-2">NDC</th>
                            <td class="col-sm-4">@Model.FormViewModel.AnovaHResult.NDC</td>
                            <th class="col-sm-2">Result</th>
                            <td class="col-sm-4">
                                @if (Model.FormViewModel.AnovaHResult.Result == "P")
                                {
                                    <span class="label label-lg label-success arrowed-right">PASS</span>
                                }

                                @if (Model.FormViewModel.AnovaHResult.Result == "F")
                                {
                                    <span class="label label-lg label-danger arrowed-right">FAIL</span>
                                }
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>


    }

    <div class="space"></div>

    <div class="widget-box widget-color-dark">
        <div class="widget-header">
            <h5 class="widget-title">GAGE Repeatability & Reproducibility Study(中)</h5>
            <div class="widget-toolbar">
                <a href="#" data-action="collapse">
                    <i class="ace-icon fa fa-chevron-up"></i>
                </a>
            </div>
        </div>

        <div class="widget-body">
            <div class="widget-main no-padding" style="overflow-x:scroll;">
                @{
    var GRRM = Model.FormViewModel.GRRList.First(x => x.Level == "M");
    var GRRMAppraiserA = GRRM.AppraiserList.First(x => x.Appraiser == "A");
    var GRRMAppraiserB = GRRM.AppraiserList.First(x => x.Appraiser == "B");
    var GRRMAppraiserC = GRRM.AppraiserList.First(x => x.Appraiser == "C");
                }

                @if (Model.FormViewModel.GRRMResult != null)
                {
                    <table class="table table-bordered table-input">

                        <tr>
                            <th class="col-sm-1">Result</th>
                            <td class="col-sm-3">
                                @if (Model.FormViewModel.GRRMResult.Result == "P")
                                {
                                    <span class="label label-lg label-success">PASS</span>
                                }

                                @if (Model.FormViewModel.GRRMResult.Result == "I")
                                {
                                    <span class="label label-lg label-warning">IMPROVE</span>
                                }

                                @if (Model.FormViewModel.GRRMResult.Result == "R")
                                {
                                    <span class="label label-lg label-danger">REJECT</span>
                                }
                            </td>
                            <th class="col-sm-1">%GRR</th>
                            <td class="col-sm-3">
                                @if (Model.FormViewModel.GRRMResult.GRR.HasValue)
                                {
                                    <label>@(Model.FormViewModel.GRRMResult.GRR.HasValue ? string.Format("{0:P2}", Model.FormViewModel.GRRMResult.GRR.Value) : "") </label>
                                }
                            </td>
                            <th class="col-sm-1">ndc</th>
                            <td class="col-sm-3">@Model.FormViewModel.GRRMResult.ndc</td>
                        </tr>
                    </table>
                }
                <table class="table table-bordered table-input">
                    <tr>
                        <th class="center" colspan="2">PERFORMED BY</th>
                        <th class="center" colspan="5">DATE</th>
                    </tr>
                    <tr>
                        <td class="center" colspan="2">@Model.FormViewModel.MSAResponsor</td>
                        <td class="center" colspan="5">@GRRM.DateString</td>
                    </tr>
                    <tr>
                        <th class="center">EQUIPMENT  NAME/No<br />(校驗名稱/編號)</th>
                        <th class="center">PART MEASURED<br />(量測package type)</th>
                        <th class="center">CHARACTERISTIC MEASURED<br />(量測特性)</th>
                        <th class="center" colspan="2">SPEC<br />(製程/PACKABGE規格)</th>
                        <th class="center" colspan="3">TV USED</th>
                    </tr>
                    <tr>
                        <td class="center" rowspan="4">@Model.FormViewModel.Equipment.MSACalNo</td>
                        <td class="center" rowspan="4">@Model.FormViewModel.GRRMPackageType</td>
                        <td class="center" rowspan="4">@Model.FormViewModel.MSACharacteristic</td>
                        <th style="text-align:left;">USL</th>
                        <td>@Model.FormViewModel.GRRMUSL</td>
                        <td class="center">
                            @if (Model.FormViewModel.GRRMTvUsed == "1")
                            {
                                <i class="ace-icon fa fa-check bigger-110 red"></i>
                            }
                        </td>
                        <th style="text-align:left;">COMBINED GRR&PV</th>
                    </tr>
                    <tr>
                        <th style="text-align:left;">CL</th>
                        <td>@Model.FormViewModel.GRRMCL</td>
                        <td class="center">
                            @if (Model.FormViewModel.GRRMTvUsed == "2")
                            {
                                <i class="ace-icon fa fa-check bigger-110 red"></i>
                            }
                        </td>
                        <th style="text-align:left;">Ppk TARGET VALUE</th>
                    </tr>
                    <tr>
                        <th style="text-align:left;">LSL</th>
                        <td>@Model.FormViewModel.GRRMLSL</td>
                        <td class="center">
                            @if (Model.FormViewModel.GRRMTvUsed == "3")
                            {
                                <i class="ace-icon fa fa-check bigger-110 red"></i>
                            }
                        </td>
                        <th style="text-align:left;">STANDARD DEVIATION</th>
                    </tr>
                    <tr>
                        <td colspan="2"></td>
                        <td class="center">
                            @if (Model.FormViewModel.GRRMTvUsed == "4")
                            {
                                <i class="ace-icon fa fa-check bigger-110 red"></i>
                            }
                        </td>
                        <th style="text-align:left;">PART'S TOLERANCE/6</th>
                    </tr>
                </table>
                <table class="table table-bordered table-input">
                    <tr>
                        <th class="center">Appraiser/<br />Trial #</th>
                        <th class="center" colspan="10">PART</th>
                    </tr>
                    <tr>
                        <th></th>
                        @for (int part = 1; part <= 10; part++)
                        {
                            <th class="center">@part</th>
                        }
                    </tr>
                    <tr>
                        <th class="center">Appraiser A</th>
                        @for (int part = 1; part <= 10; part++)
                        {
                            <td class="center">@GRRMAppraiserA.ValueList.First(x => x.Trials == 1 && x.Part == part).Value</td>
                        }
                    </tr>
                    <tr>
                        <td class="center">@GRRMAppraiserA.UserID</td>
                        @for (int part = 1; part <= 10; part++)
                        {
                            <td class="center">@GRRMAppraiserA.ValueList.First(x => x.Trials == 2 && x.Part == part).Value</td>
                        }
                    </tr>
                    <tr>
                        <td></td>
                        @for (int part = 1; part <= 10; part++)
                        {
                            <td class="center">@GRRMAppraiserA.ValueList.First(x => x.Trials == 3 && x.Part == part).Value</td>
                        }
                    </tr>
                    <tr>
                        <th class="center">Appraiser B</th>
                        @for (int part = 1; part <= 10; part++)
                        {
                            <td class="center">@GRRMAppraiserB.ValueList.First(x => x.Trials == 1 && x.Part == part).Value</td>
                        }
                    </tr>
                    <tr>
                        <td class="center">@GRRMAppraiserB.UserID</td>
                        @for (int part = 1; part <= 10; part++)
                        {
                            <td class="center">@GRRMAppraiserB.ValueList.First(x => x.Trials == 2 && x.Part == part).Value</td>
                        }
                    </tr>
                    <tr>
                        <td></td>
                        @for (int part = 1; part <= 10; part++)
                        {
                            <td class="center">@GRRMAppraiserB.ValueList.First(x => x.Trials == 3 && x.Part == part).Value</td>
                        }
                    </tr>
                    <tr>
                        <th class="center">Appraiser C</th>
                        @for (int part = 1; part <= 10; part++)
                        {
                            <td class="center">@GRRMAppraiserC.ValueList.First(x => x.Trials == 1 && x.Part == part).Value</td>
                        }
                    </tr>
                    <tr>
                        <td class="center">@GRRMAppraiserC.UserID</td>
                        @for (int part = 1; part <= 10; part++)
                        {
                            <td class="center">@GRRMAppraiserC.ValueList.First(x => x.Trials == 2 && x.Part == part).Value</td>
                        }
                    </tr>
                    <tr>
                        <td></td>
                        @for (int part = 1; part <= 10; part++)
                        {
                            <td class="center">@GRRMAppraiserC.ValueList.First(x => x.Trials == 3 && x.Part == part).Value</td>
                        }
                    </tr>
                </table>
            </div>
        </div>
    </div>

    if (Model.FormViewModel.AnovaMResult != null)
    {
        <div class="space"></div>

        <div class="widget-box widget-color-dark">
            <div class="widget-header">
                <h5 class="widget-title">ANOVA(中)</h5>
                <div class="widget-toolbar">
                    <a href="#" data-action="collapse">
                        <i class="ace-icon fa fa-chevron-up"></i>
                    </a>
                </div>
            </div>

            <div class="widget-body">
                <div class="widget-main no-padding">
                    <table class="table table-bordered table-input">
                        <tr>
                            <th class="col-sm-2">GR&R (%TV)<br />(Precision to Total Variation)</th>
                            <td class="col-sm-4">
                                @if (Model.FormViewModel.AnovaMResult.TV.HasValue)
                                {
                                    <label>@(Model.FormViewModel.AnovaMResult.TV.HasValue ? string.Format("{0:P2}", Model.FormViewModel.AnovaMResult.TV.Value) : "") </label>
                                }
                            </td>
                            <th class="col-sm-2">GR&R (%PT)<br />(Precision to Tolerance )</th>
                            <td class="col-sm-4">
                                @if (Model.FormViewModel.AnovaMResult.PT.HasValue)
                                {
                                    <label>@(Model.FormViewModel.AnovaMResult.PT.HasValue ? string.Format("{0:P2}", Model.FormViewModel.AnovaMResult.PT.Value) : "") </label>
                                }
                            </td>
                        </tr>
                        <tr>
                            <th class="col-sm-2">NDC</th>
                            <td class="col-sm-4">@Model.FormViewModel.AnovaMResult.NDC</td>
                            <th class="col-sm-2">Result</th>
                            <td class="col-sm-4">
                                @if (Model.FormViewModel.AnovaMResult.Result == "P")
                                {
                                    <span class="label label-lg label-success arrowed-right">PASS</span>
                                }

                                @if (Model.FormViewModel.AnovaMResult.Result == "F")
                                {
                                    <span class="label label-lg label-danger arrowed-right">FAIL</span>
                                }
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>


    }

    <div class="space"></div>

    <div class="widget-box widget-color-dark">
        <div class="widget-header">
            <h5 class="widget-title">GAGE Repeatability & Reproducibility Study(低)</h5>
            <div class="widget-toolbar">
                <a href="#" data-action="collapse">
                    <i class="ace-icon fa fa-chevron-up"></i>
                </a>
            </div>
        </div>

        <div class="widget-body">
            <div class="widget-main no-padding" style="overflow-x:scroll;">
                @{
    var GRRL = Model.FormViewModel.GRRList.First(x => x.Level == "L");
    var GRRLAppraiserA = GRRL.AppraiserList.First(x => x.Appraiser == "A");
    var GRRLAppraiserB = GRRL.AppraiserList.First(x => x.Appraiser == "B");
    var GRRLAppraiserC = GRRL.AppraiserList.First(x => x.Appraiser == "C");
                }

                @if (Model.FormViewModel.GRRLResult != null)
                {
                    <table class="table table-bordered table-input">

                        <tr>
                            <th class="col-sm-1">Result</th>
                            <td class="col-sm-3">
                                @if (Model.FormViewModel.GRRLResult.Result == "P")
                                {
                                    <span class="label label-lg label-success">PASS</span>
                                }

                                @if (Model.FormViewModel.GRRLResult.Result == "I")
                                {
                                    <span class="label label-lg label-warning">IMPROVE</span>
                                }

                                @if (Model.FormViewModel.GRRLResult.Result == "R")
                                {
                                    <span class="label label-lg label-danger">REJECT</span>
                                }
                            </td>
                            <th class="col-sm-1">%GRR</th>
                            <td class="col-sm-3">
                                @if (Model.FormViewModel.GRRLResult.GRR.HasValue)
                                {
                                    <label>@(Model.FormViewModel.GRRLResult.GRR.HasValue ? string.Format("{0:P2}", Model.FormViewModel.GRRLResult.GRR.Value) : "") </label>
                                }
                            </td>
                            <th class="col-sm-1">ndc</th>
                            <td class="col-sm-3">@Model.FormViewModel.GRRLResult.ndc</td>
                        </tr>
                    </table>
                }
                <table class="table table-bordered table-input">
                    <tr>
                        <th class="center" colspan="2">PERFORMED BY</th>
                        <th class="center" colspan="5">DATE</th>
                    </tr>
                    <tr>
                        <td class="center" colspan="2">@Model.FormViewModel.MSAResponsor</td>
                        <td class="center" colspan="5">@GRRM.DateString</td>
                    </tr>
                    <tr>
                        <th class="center">EQUIPMENT  NAME/No<br />(校驗名稱/編號)</th>
                        <th class="center">PART MEASURED<br />(量測package type)</th>
                        <th class="center">CHARACTERISTIC MEASURED<br />(量測特性)</th>
                        <th class="center" colspan="2">SPEC<br />(製程/PACKABGE規格)</th>
                        <th class="center" colspan="3">TV USED</th>
                    </tr>
                    <tr>
                        <td class="center" rowspan="4">@Model.FormViewModel.Equipment.MSACalNo</td>
                        <td class="center" rowspan="4">@Model.FormViewModel.GRRLPackageType</td>
                        <td class="center" rowspan="4">@Model.FormViewModel.MSACharacteristic</td>
                        <th style="text-align:left;">USL</th>
                        <td>@Model.FormViewModel.GRRLUSL</td>
                        <td class="center">
                            @if (Model.FormViewModel.GRRLTvUsed == "1")
                            {
                                <i class="ace-icon fa fa-check bigger-110 red"></i>
                            }
                        </td>
                        <th style="text-align:left;">COMBINED GRR&PV</th>
                    </tr>
                    <tr>
                        <th style="text-align:left;">CL</th>
                        <td>@Model.FormViewModel.GRRLCL</td>
                        <td class="center">
                            @if (Model.FormViewModel.GRRLTvUsed == "2")
                            {
                                <i class="ace-icon fa fa-check bigger-110 red"></i>
                            }
                        </td>
                        <th style="text-align:left;">Ppk TARGET VALUE</th>
                    </tr>
                    <tr>
                        <th style="text-align:left;">LSL</th>
                        <td>@Model.FormViewModel.GRRLLSL</td>
                        <td class="center">
                            @if (Model.FormViewModel.GRRLTvUsed == "3")
                            {
                                <i class="ace-icon fa fa-check bigger-110 red"></i>
                            }
                        </td>
                        <th style="text-align:left;">STANDARD DEVIATION</th>
                    </tr>
                    <tr>
                        <td colspan="2"></td>
                        <td class="center">
                            @if (Model.FormViewModel.GRRLTvUsed == "4")
                            {
                                <i class="ace-icon fa fa-check bigger-110 red"></i>
                            }
                        </td>
                        <th style="text-align:left;">PART'S TOLERANCE/6</th>
                    </tr>
                </table>
                <table class="table table-bordered table-input">
                    <tr>
                        <th class="center">Appraiser/<br />Trial #</th>
                        <th class="center" colspan="10">PART</th>
                    </tr>
                    <tr>
                        <th></th>
                        @for (int part = 1; part <= 10; part++)
                        {
                            <th class="center">@part</th>
                        }
                    </tr>
                    <tr>
                        <th class="center">Appraiser A</th>
                        @for (int part = 1; part <= 10; part++)
                        {
                            <td class="center">@GRRLAppraiserA.ValueList.First(x => x.Trials == 1 && x.Part == part).Value</td>
                        }
                    </tr>
                    <tr>
                        <td class="center">@GRRLAppraiserA.UserID</td>
                        @for (int part = 1; part <= 10; part++)
                        {
                            <td class="center">@GRRLAppraiserA.ValueList.First(x => x.Trials == 2 && x.Part == part).Value</td>
                        }
                    </tr>
                    <tr>
                        <td></td>
                        @for (int part = 1; part <= 10; part++)
                        {
                            <td class="center">@GRRLAppraiserA.ValueList.First(x => x.Trials == 3 && x.Part == part).Value</td>
                        }
                    </tr>
                    <tr>
                        <th class="center">Appraiser B</th>
                        @for (int part = 1; part <= 10; part++)
                        {
                            <td class="center">@GRRLAppraiserB.ValueList.First(x => x.Trials == 1 && x.Part == part).Value</td>
                        }
                    </tr>
                    <tr>
                        <td class="center">@GRRLAppraiserB.UserID</td>
                        @for (int part = 1; part <= 10; part++)
                        {
                            <td class="center">@GRRLAppraiserB.ValueList.First(x => x.Trials == 2 && x.Part == part).Value</td>
                        }
                    </tr>
                    <tr>
                        <td></td>
                        @for (int part = 1; part <= 10; part++)
                        {
                            <td class="center">@GRRLAppraiserB.ValueList.First(x => x.Trials == 3 && x.Part == part).Value</td>
                        }
                    </tr>
                    <tr>
                        <th class="center">Appraiser C</th>
                        @for (int part = 1; part <= 10; part++)
                        {
                            <td class="center">@GRRLAppraiserC.ValueList.First(x => x.Trials == 1 && x.Part == part).Value</td>
                        }
                    </tr>
                    <tr>
                        <td class="center">@GRRLAppraiserC.UserID</td>
                        @for (int part = 1; part <= 10; part++)
                        {
                            <td class="center">@GRRLAppraiserC.ValueList.First(x => x.Trials == 2 && x.Part == part).Value</td>
                        }
                    </tr>
                    <tr>
                        <td></td>
                        @for (int part = 1; part <= 10; part++)
                        {
                            <td class="center">@GRRLAppraiserC.ValueList.First(x => x.Trials == 3 && x.Part == part).Value</td>
                        }
                    </tr>
                </table>
            </div>
        </div>
    </div>

    if (Model.FormViewModel.AnovaLResult != null)
    {
        <div class="space"></div>

        <div class="widget-box widget-color-dark">
            <div class="widget-header">
                <h5 class="widget-title">ANOVA(低)</h5>
                <div class="widget-toolbar">
                    <a href="#" data-action="collapse">
                        <i class="ace-icon fa fa-chevron-up"></i>
                    </a>
                </div>
            </div>

            <div class="widget-body">
                <div class="widget-main no-padding">
                    <table class="table table-bordered table-input">
                        <tr>
                            <th class="col-sm-2">GR&R (%TV)<br />(Precision to Total Variation)</th>
                            <td class="col-sm-4">
                                @if (Model.FormViewModel.AnovaLResult.TV.HasValue)
                                {
                                    <label>@(Model.FormViewModel.AnovaLResult.TV.HasValue ? string.Format("{0:P2}", Model.FormViewModel.AnovaLResult.TV.Value) : "") </label>
                                }
                            </td>
                            <th class="col-sm-2">GR&R (%PT)<br />(Precision to Tolerance )</th>
                            <td class="col-sm-4">
                                @if (Model.FormViewModel.AnovaLResult.PT.HasValue)
                                {
                                    <label>@(Model.FormViewModel.AnovaLResult.PT.HasValue ? string.Format("{0:P2}", Model.FormViewModel.AnovaLResult.PT.Value) : "") </label>
                                }
                            </td>
                        </tr>
                        <tr>
                            <th class="col-sm-2">NDC</th>
                            <td class="col-sm-4">@Model.FormViewModel.AnovaLResult.NDC</td>
                            <th class="col-sm-2">Result</th>
                            <td class="col-sm-4">
                                @if (Model.FormViewModel.AnovaLResult.Result == "P")
                                {
                                    <span class="label label-lg label-success arrowed-right">PASS</span>
                                }

                                @if (Model.FormViewModel.AnovaLResult.Result == "F")
                                {
                                    <span class="label label-lg label-danger arrowed-right">FAIL</span>
                                }
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>


    }

}

@if (Model.FormViewModel.Type == "2")
{
      <div class="widget-box widget-color-dark">
    <div class="widget-header">
        <h5 class="widget-title"></h5>
        <div class="widget-toolbar">
            <a href="#" data-action="collapse">
                <i class="ace-icon fa fa-chevron-up"></i>
            </a>
        </div>
    </div>

    <div class="widget-body">
        <div class="widget-main no-padding">
            <table class="table table-bordered table-input">
                <tr>
                    <th class="col-sm-2">Part No. & Measure item</th>
                    <td class="col-sm-4">@string.Format("{0}/{1}", Model.FormViewModel.CountPackageType, Model.FormViewModel.MSACharacteristic)</td>
                    <th class="col-sm-2">Date</th>
                    <td class="col-sm-4">@Model.FormViewModel.MSADateString</td>
                </tr>
                <tr>
                    <th>Gauge Name/Code</th>
                    <td>@string.Format("{0}/{1}", Model.FormViewModel.MSAIchi, Model.FormViewModel.Equipment.MSACalNo)</td>
                    <th>Performed by</th>
                    <td>@Model.FormViewModel.MSAResponsor</td>
                </tr>
                </table>
        </div>
    </div>
</div>
         
        <div class="space"></div>
    
    if (Model.FormViewModel.CountResult != null)
        { 
         
         <div class="widget-box widget-color-dark">
    <div class="widget-header">
        <h5 class="widget-title">Kappa</h5>
        <div class="widget-toolbar">
            <a href="#" data-action="collapse">
                <i class="ace-icon fa fa-chevron-up"></i>
            </a>
        </div>
    </div>

    <div class="widget-body">
        <div class="widget-main no-padding">
            <table class="table table-bordered table-input">
                <tr>
                    <th class=" col-sm-4">Result</th>
                    <td colspan="2">
                        @if (Model.FormViewModel.CountResult.KappaResult == "P")
                        {
                            <span class="label label-lg label-success">PASS</span>
                        }

                        @if (Model.FormViewModel.CountResult.KappaResult == "F")
                        {
                            <span class="label label-lg label-danger">FAIL</span>
                        }
                    </td>
                </tr>
                <tr>
                    <th class="center col-sm-4">A</th>
                    <th class="center col-sm-4">B</th>
                    <th class="center col-sm-4">C</th>
                </tr>
                <tr>
                    <td class="center col-sm-4">@Model.FormViewModel.CountResult.KappaA</td>
                    <td class="center col-sm-4">@Model.FormViewModel.CountResult.KappaB</td>
                    <td class="center col-sm-4">@Model.FormViewModel.CountResult.KappaC</td>
                </tr>
            </table>
        </div>
    </div>
</div>
         
        <div class="space"></div>
    
    
    
      <div class="widget-box widget-color-dark">
    <div class="widget-header">
        <h5 class="widget-title">評價者的可否接受判定</h5>
        <div class="widget-toolbar">
            <a href="#" data-action="collapse">
                <i class="ace-icon fa fa-chevron-up"></i>
            </a>
        </div>
    </div>

    <div class="widget-body">
        <div class="widget-main no-padding">
            <table class="table table-bordered table-input">
                <tr>
                    <th class="col-sm-3">Result</th>
                    <td colspan="3">
                        @if (Model.FormViewModel.CountResult.Result == "P")
                        {
                            <span class="label label-lg label-success arrowed-right">PASS</span>
                        }

                        @if (Model.FormViewModel.CountResult.Result == "F")
                        {
                            <span class="label label-lg label-danger arrowed-right">FAIL</span>
                        }
                    </td>
                </tr>
                <tr>
                    <th class="center col-sm-3"></th>
                    <th class="center col-sm-3">有效性</th>
                    <th class="center col-sm-3">錯誤率</th>
                    <th class="center col-sm-3">錯誤警報率</th>
                </tr>
                <tr>
                    <th class="center col-sm-3">A</th>
                    <td class="center col-sm-3">@(Model.FormViewModel.CountResult.CountAEffective.HasValue ? string.Format("{0:P2}", Model.FormViewModel.CountResult.CountAEffective.Value) : "")</td>
                    <td class="center col-sm-3">@(Model.FormViewModel.CountResult.CountAError.HasValue ? string.Format("{0:P2}", Model.FormViewModel.CountResult.CountAError.Value) : "")</td>
                    <td class="center col-sm-3">@(Model.FormViewModel.CountResult.CountAAlarm.HasValue ? string.Format("{0:P2}", Model.FormViewModel.CountResult.CountAAlarm.Value) : "")</td>
                </tr>
                <tr>
                    <th class="center col-sm-3">B</th>
                    <td class="center col-sm-3">@(Model.FormViewModel.CountResult.CountBEffective.HasValue ? string.Format("{0:P2}", Model.FormViewModel.CountResult.CountBEffective.Value) : "")</td>
                    <td class="center col-sm-3">@(Model.FormViewModel.CountResult.CountBError.HasValue ? string.Format("{0:P2}", Model.FormViewModel.CountResult.CountBError.Value) : "")</td>
                    <td class="center col-sm-3">@(Model.FormViewModel.CountResult.CountBAlarm.HasValue ? string.Format("{0:P2}", Model.FormViewModel.CountResult.CountBAlarm.Value) : "")</td>
                </tr>
                <tr>
                    <th class="center col-sm-3">C</th>
                    <td class="center col-sm-3">@(Model.FormViewModel.CountResult.CountCEffective.HasValue ? string.Format("{0:P2}", Model.FormViewModel.CountResult.CountCEffective.Value) : "")</td>
                    <td class="center col-sm-3">@(Model.FormViewModel.CountResult.CountCError.HasValue ? string.Format("{0:P2}", Model.FormViewModel.CountResult.CountCError.Value) : "")</td>
                    <td class="center col-sm-3">@(Model.FormViewModel.CountResult.CountCAlarm.HasValue ? string.Format("{0:P2}", Model.FormViewModel.CountResult.CountCAlarm.Value) : "")</td>
                </tr>
            </table>
        </div>
    </div>
</div>
         
        <div class="space"></div>
        }
    
     <div class="widget-box widget-color-dark">
    <div class="widget-header">
        <h5 class="widget-title">  </h5>
        <div class="widget-toolbar">
            <a href="#" data-action="collapse">
                <i class="ace-icon fa fa-chevron-up"></i>
            </a>
        </div>
    </div>

    <div class="widget-body">
        <div class="widget-main no-padding" style="overflow-x:scroll;">
            <table class="table table-bordered table-input">
                <tr>
                    <th>APPRAISER</th>
                    <td class="center" colspan="3">@Model.FormViewModel.CountList.First(x => x.Appraiser == "A").UserID</td>
                    <td class="center" colspan="3">@Model.FormViewModel.CountList.First(x => x.Appraiser == "B").UserID</td>
                    <td class="center" colspan="3">@Model.FormViewModel.CountList.First(x => x.Appraiser == "C").UserID</td>
                    <th class="center">參考</th>
                    <th class="center">參考值</th>
                </tr>
                <tr>
                    <th class="center" rowspan="2">SAMPLE #</th>
                    <th class="center" colspan="9">TRIAL #</th>
                    <th rowspan="2"></th>
                    <th rowspan="2"></th>
                </tr>
                <tr>
                    <th class="center">1</th>
                    <th class="center">2</th>
                    <th class="center">3</th>
                    <th class="center">1</th>
                    <th class="center">2</th>
                    <th class="center">3</th>
                    <th class="center">1</th>
                    <th class="center">2</th>
                    <th class="center">3</th>
                </tr>

                @for (int i = 1; i <= 50; i++)
                {
                    <tr>
                        <td class="center">@i</td>
                        <td class="center">@Model.FormViewModel.CountList.First(x => x.Appraiser == "A").ValueList.First(x => x.Sample == i && x.Trials == 1).Value</td>
                        <td class="center">@Model.FormViewModel.CountList.First(x => x.Appraiser == "A").ValueList.First(x => x.Sample == i && x.Trials == 2).Value</td>
                        <td class="center">@Model.FormViewModel.CountList.First(x => x.Appraiser == "A").ValueList.First(x => x.Sample == i && x.Trials == 3).Value</td>
                        <td class="center">@Model.FormViewModel.CountList.First(x => x.Appraiser == "B").ValueList.First(x => x.Sample == i && x.Trials == 1).Value</td>
                        <td class="center">@Model.FormViewModel.CountList.First(x => x.Appraiser == "B").ValueList.First(x => x.Sample == i && x.Trials == 2).Value</td>
                        <td class="center">@Model.FormViewModel.CountList.First(x => x.Appraiser == "B").ValueList.First(x => x.Sample == i && x.Trials == 3).Value</td>
                        <td class="center">@Model.FormViewModel.CountList.First(x => x.Appraiser == "C").ValueList.First(x => x.Sample == i && x.Trials == 1).Value</td>
                        <td class="center">@Model.FormViewModel.CountList.First(x => x.Appraiser == "C").ValueList.First(x => x.Sample == i && x.Trials == 2).Value</td>
                        <td class="center">@Model.FormViewModel.CountList.First(x => x.Appraiser == "C").ValueList.First(x => x.Sample == i && x.Trials == 3).Value</td>
                        <td class="center">@Model.FormViewModel.CountReferenceValueList.First(x => x.Sample == i).Reference</td>
                        <td class="center">@Model.FormViewModel.CountReferenceValueList.First(x => x.Sample == i).ReferenceValue</td>
                    </tr>
                }
            </table>
        </div>
    </div>
</div>
}

@if (Model.FormViewModel.LogList != null && Model.FormViewModel.LogList.Count > 0)
{
    <div class="space"></div>

    <div class="widget-box widget-color-dark">
        <div class="widget-header">
            <h5 class="widget-title">@Resources.Resource.Verify @Resources.Resource.Flow</h5>
        </div>

        <div class="widget-body">
            <div class="widget-main no-padding" style="overflow-x:scroll; min-height:150px;">
                <table class="table table-striped table-bordered table-hover nowrap">
                    <thead class="thin-border-bottom">
                        <tr>
                            <th>@Resources.Resource.Role</th>
                            <th>@Resources.Resource.VerifyUser</th>
                            <th>@Resources.Resource.NotifyTime</th>
                            <th>@Resources.Resource.VerifyTime</th>
                            <th>@Resources.Resource.VerifyResult</th>
                            <th>@Resources.Resource.VerifyComment</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.FormViewModel.LogList)
                        {
                            <tr>
                                <td>@item.Role</td>
                                <td>@item.User</td>
                                <td>@item.NotifyTimeString</td>
                                <td>@item.VerifyTimeString</td>
                                <td>@item.VerifyResultDescription</td>
                                <td>@item.VerifyComment</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
}





