<script type="text/javascript">
    $(document).ready(function () {
        GetSelectedLDList();

        InitSelectLDTree();

        $('#divSelectLDTreeWidget').hide();
    });

    function GetSelectedLDList() {
        var list = $('#divSelectedLDList');

        $.ajax({
            type: "GET",
            cache: false,
            url: '@Url.Action("GetSelectedLDList")',
            dataType: "html",
            beforeSend: function () { list.Overlay('show'); },
            success: function (data) { list.Overlay('show').html(data); },
            error: function (x, h, r) { list.Overlay('hide').html(x.responseText); }
        });
    }

    function InitSelectLDTree() {
        var container = $('#divSelectLDTreeContainer');

        $.ajax({
            type: "POST",
            cache: false,
            url: '@Url.Action("InitSelectLDTree")',
            data: { RefOrganizationUniqueID: $('#OrganizationUniqueID').val() },
            dataType: "html",
            beforeSend: function () { container.Overlay('show'); },
            success: function (data) { container.Overlay('hide').html(data); },
            error: function (x, h, r) { container.Overlay('hide').html(x.responseText); }
        });
    }

    var SelectLD = function () {
        $('#divSelectedLDListWidget').hide();
        $('#divSelectLDTreeWidget').show();
    };

    var CancelSelectLD = function () {
        $('#divSelectedLDListWidget').show();
        $('#divSelectLDTreeWidget').hide();
    };

    var LDPageState = function () {
        var pageState = [];

        $('.IsInherit.LD').each(function () {
            var isInherit = $(this).prop('checked') ? 'Y' : 'N';
            var checkItemUniqueID = $(this).data('checkitemuniqueid');

            var tagID = '';
            var l = '';
            var la = '';
            var ua = '';
            var u = '';
            var a = '';
            var unit = '';
            var remark = '';

            tagID = $(this).closest('tr').find('.TagID').val();

            if (isInherit == 'N') {
                l = $(this).closest('tr').find('.LowerLimit').val();
                la = $(this).closest('tr').find('.LowerAlertLimit').val();
                ua = $(this).closest('tr').find('.UpperAlertLimit').val();
                u = $(this).closest('tr').find('.UpperLimit').val();
                a = $(this).closest('tr').find('.AccumulationBase').val();
                unit = $(this).closest('tr').find('.Unit').val();
                remark = $(this).closest('tr').find('.Remark').val();
            }

            pageState.push(isInherit + '@Utility.Define.Seperator' + checkItemUniqueID + '@Utility.Define.Seperator' + tagID + '@Utility.Define.Seperator' + l + '@Utility.Define.Seperator' + la + '@Utility.Define.Seperator' + ua + '@Utility.Define.Seperator' + u + '@Utility.Define.Seperator' + a + '@Utility.Define.Seperator' + unit + '@Utility.Define.Seperator' + remark);
        });

        return JSON.stringify(pageState);
    };

    var AddLD = function () {
        var data = [];

        $("#divSelectLDTree").jstree("get_checked", null, true).each(function () {
            data.push($(this).attr("@Utility.Define.EnumTreeAttribute.OrganizationUniqueID") + '@Utility.Define.Seperator' + $(this).attr("@Utility.Define.EnumTreeAttribute.CheckType") + '@Utility.Define.Seperator' + $(this).attr("@Utility.Define.EnumTreeAttribute.CheckItemUniqueID"));
        });

        $.ajax({
            type: "POST",
            cache: false,
            url: '@Url.Action("AddLD")',
            data: {
                Selecteds: JSON.stringify(data),
                PageStates: LDPageState(),
                RefOrganizationUniqueID: $('#OrganizationUniqueID').val()
            },
            dataType: "json",
            beforeSend: function () {
                $('#divSelectLDTreeWidget').hide();
                $('#divSelectedLDListWidget').show().Overlay('show');
            },
            success: function (data) {
                $('#divSelectedLDListWidget').Overlay('hide');

                if (data.IsSuccess) {
                    GetSelectedLDList();
                    $("#divSelectLDTree").jstree("uncheck_all");
                }
                else {
                    $.ErrorDialog(data.Message);
                }
            },
            error: function (x, h, r) {
                $('#divSelectedLDListWidget').Overlay('hide');

                $.ErrorDialog(x.responseText);
            }
        });
    };

    var DeleteSelectedLD = function (uniqueID) {
        $.ajax({
            type: "POST",
            cache: false,
            url: '@Url.Action("DeleteSelectedLD")',
            data: {
                CheckItemUniqueID: uniqueID,
                PageStates: LDPageState()
            },
            dataType: "json",
            beforeSend: function () { $('#divSelectedLDListWidget').Overlay('show'); },
            success: function (data) {
                $('#divSelectedLDListWidget').Overlay('hide');

                if (data.IsSuccess) {
                    GetSelectedLDList();
                    $("#divSelectLDTree").jstree("uncheck_all");
                }
                else {
                    $.ErrorDialog(data.Message);
                }
            },
            error: function (x, h, r) {
                $('#divSelectedLDListWidget').Overlay('hide');

                $.ErrorDialog(x.responseText);
            }
        });
    };
</script>

<div id="divSelectLDTreeWidget" class="widget-box widget-color-dark">
    <div class="widget-header">
        <h5 class="widget-title">當日裝料完畢 @Resources.Resource.CheckItem</h5>
    </div>

    <div class="widget-body">
        <div class="widget-main padding-4">
            <div id="divSelectLDTreeContainer" style="min-height:200px;"></div>
        </div>
        <div class="widget-toolbox padding-8 clearfix">
            <button class="btn btn-primary" onclick="AddLD(); return false;">
                <i class="ace-icon fa fa-plus"></i>
                @Resources.Resource.Select
            </button>
            <button class="btn btn-success" onclick="CancelSelectLD(); return false;">
                <i class="ace-icon fa fa-ban"></i>
                @Resources.Resource.Cancel
            </button>
        </div>
    </div>
</div>

<div id="divSelectedLDListWidget" class="widget-box widget-color-dark">
    <div class="widget-header">
        <h5 class="widget-title">當日裝料完畢 @Resources.Resource.CheckItem</h5>
        <div class="widget-toolbar">
            <a href="#" onclick="SelectLD(); return false;">
                <i class="ace-icon fa fa-plus white"></i>
            </a>
        </div>
    </div>

    <div class="widget-body">
        <div class="widget-main no-padding" style="overflow-x:scroll;">
            <div id="divSelectedLDList" style="min-height:200px;"></div>
        </div>
    </div>
</div>
