@model IEnumerable<Models.EquipmentMaintenance.JobManagement.ControlPointModel>

<script type="text/javascript">
    $(document).ready(function () {
        $('#divTab a:first').tab('show');

        $('.ControlPointCheckItem, .ControlPointCheckItemParent, .EquipmentCheckItem, .EquipmentCheckItemParent').each(function () {
            if ($(this).data('checked') == 'Y') {
                $(this).prop('checked', true);
            }
        });

        $('.ControlPointCheckItemParent').click(function () {
            var parent = $(this);
            var controlPointUniqueID = parent.data('controlpointuniqueid');
            var checked = parent.prop('checked') ? 'Y' : 'N';

            $('.ControlPointCheckItem').each(function () {
                var chk = $(this);
                if (chk.data('controlpointuniqueid') == controlPointUniqueID) {
                    chk.prop('checked', checked == 'Y');
                }
            });
        });

        $('.EquipmentCheckItemParent').click(function () {
            var parent = $(this);
            var controlPointUniqueID = parent.data('controlpointuniqueid');
            var equipmentUniqueID = parent.data('equipmentuniqueid');
            var partUniqueID = parent.data('partuniqueid');
            var checked = parent.prop('checked') ? 'Y' : 'N';

            $('.EquipmentCheckItem').each(function () {
                var chk = $(this);
                if (chk.data('controlpointuniqueid') == controlPointUniqueID && chk.data('equipmentuniqueid') == equipmentUniqueID && chk.data('partuniqueid') == partUniqueID) {
                    chk.prop('checked', checked == 'Y');
                }
            });
        });

        $('#divTab').css('min-height', $('#tabLinkContainer').css('height')+30);
    });
</script>

<div id="divTab" class="tabbable tabs-left">
    <ul id="tabLinkContainer" class="nav nav-tabs">
        @foreach (var controlPoint in Model)
        {
            <li class="tabLink" data-controlpointuniqueid="@controlPoint.UniqueID">
                <a data-toggle="tab" href="@("#" + controlPoint.UniqueID)" data-controlpointuniqueid="@controlPoint.UniqueID">
                    @(controlPoint.ID + "/" + controlPoint.Description)
                </a>
            </li>
        }
    </ul>

    <div class="tab-content">
        @foreach (var controlPoint in Model)
        {
            <div id="@controlPoint.UniqueID" class="tab-pane">
                <p>@Resources.Resource.MinTimeSpan <input type="text" data-controlpointuniqueid="@controlPoint.UniqueID" class="MinTimeSpan col-sm-1" value="@controlPoint.MinTimeSpan" /> @Resources.Resource.Minute</p>


                @if (controlPoint.CheckItemList.Count > 0)
                {
                    <div id="@("AccordionControlPoint" + controlPoint.UniqueID)" class="accordionControlPointContainer accordion-style1 panel-group">

                        <div class="panel panel-default accordionControlPoint">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="@("#AccordionControlPoint" + controlPoint.UniqueID)" href="@("#CollapseControlPoint" + controlPoint.UniqueID)">
                                        <i class="bigger-110 ace-icon fa fa-angle-right" data-icon-hide="ace-icon fa fa-angle-down" data-icon-show="ace-icon fa fa-angle-right"></i>
                                        @controlPoint.Description
                                    </a>
                                </h4>
                            </div>

                            <div class="panel-collapse collapse" id="@("CollapseControlPoint" + controlPoint.UniqueID)" style="height: 0px;">
                                <div class="panel-body">
                                    <table class="table table-striped table-bordered table-hover">
                                        <thead class="thin-border-bottom">
                                            <tr>
                                                <th class="col-sm-1 center">
                                                    <label>
                                                        <input class="ace ace-checkbox-2 ControlPointCheckItemParent" type="checkbox" value="true" data-checked="@(controlPoint.CheckItemList.Any(x => x.IsChecked == false) ? "N" : "Y")" data-controlpointuniqueid="@controlPoint.UniqueID">
                                                        <span class="lbl"> </span>
                                                    </label>
                                                </th>
                                                <th>@Resources.Resource.CheckType</th>
                                                <th>@Resources.Resource.CheckItemID</th>
                                                <th>@Resources.Resource.CheckItemDescription</th>
                                            </tr>
                                        </thead>
                                        <tbody class="ControlPointCheckItemTBody">
                                            @foreach (var item in controlPoint.CheckItemList)
                                            {
                                                <tr>
                                                    <td class="center">
                                                        <label>
                                                            <input class="ace ace-checkbox-2 ControlPointCheckItem" type="checkbox" value="true" data-controlpointuniqueid="@controlPoint.UniqueID" data-checkitemuniqueid="@item.UniqueID" data-checked="@(item.IsChecked ? "Y" : "N")">
                                                            <span class="lbl"> </span>
                                                        </label>
                                                    </td>
                                                    <td>@item.CheckType</td>
                                                    <td>@item.CheckItemID</td>
                                                    <td>@item.CheckItemDescription</td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                    </div>
                }

                <div id="@("Accordion" + controlPoint.UniqueID)" class="accordionContainer accordion-style1 panel-group" data-controlpointuniqueid="@controlPoint.UniqueID">

                    @foreach (var equipment in controlPoint.EquipmentList)
                    {
                        <div class="panel panel-default accordionEquipment" data-equipmentuniqueid="@equipment.EquipmentUniqueID" data-partuniqueid="@equipment.PartUniqueID">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="@("#Accordion" + controlPoint.UniqueID)" href="@("#Collapse" + equipment.EquipmentUniqueID + (equipment.PartUniqueID == "*" ? "" : equipment.PartUniqueID))">
                                        <i class="bigger-110 ace-icon fa fa-angle-right" data-icon-hide="ace-icon fa fa-angle-down" data-icon-show="ace-icon fa fa-angle-right"></i>
                                        @equipment.Display
                                    </a>
                                </h4>
                            </div>

                            <div class="panel-collapse collapse" id="@("Collapse" + equipment.EquipmentUniqueID + (equipment.PartUniqueID == "*" ? "" : equipment.PartUniqueID))" style="height: 0px;">
                                <div class="panel-body">
                                    <table class="table table-striped table-bordered table-hover">
                                        <thead class="thin-border-bottom">
                                            <tr>
                                                <th class="col-sm-1 center">
                                                    <label>
                                                        <input class="ace ace-checkbox-2 EquipmentCheckItemParent" type="checkbox" value="true" data-checked="@(equipment.CheckItemList.Any(x => x.IsChecked == false) ? "N" : "Y")" data-controlpointuniqueid="@controlPoint.UniqueID" data-equipmentuniqueid="@equipment.EquipmentUniqueID" data-partuniqueid="@equipment.PartUniqueID">
                                                        <span class="lbl"> </span>
                                                    </label>
                                                </th>
                                                <th>@Resources.Resource.CheckType</th>
                                                <th>@Resources.Resource.CheckItemID</th>
                                                <th>@Resources.Resource.CheckItemDescription</th>
                                            </tr>
                                        </thead>
                                        <tbody class="EquipmentCheckItemTBody">
                                            @foreach (var item in equipment.CheckItemList)
                                            {
                                                <tr>
                                                    <td class="center">
                                                        <label>
                                                            <input class="ace ace-checkbox-2 EquipmentCheckItem" type="checkbox" value="true" data-controlpointuniqueid="@controlPoint.UniqueID" data-equipmentuniqueid="@equipment.EquipmentUniqueID" data-partuniqueid="@equipment.PartUniqueID" data-checkitemuniqueid="@item.UniqueID" data-checked="@(item.IsChecked ? "Y" : "N")">
                                                            <span class="lbl"> </span>
                                                        </label>
                                                    </td>
                                                    <td>@item.CheckType</td>
                                                    <td>@item.CheckItemID</td>
                                                    <td>@item.CheckItemDescription</td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    }
                </div>

            </div>
        }
    </div>
</div>