@model IEnumerable<Models.TankPatrol.ResultQuery.ArriveRecordModel>

<div class="widget-box widget-color-dark">
    <div class="widget-header">
        <h5 class="widget-title bigger lighter">
            到位記錄
        </h5>
        @if (Model != null && Model.Count() > 0)
        {
            <div class="widget-toolbar">
                <div class="widget-menu">
                    <a href="#" data-toggle="dropdown">
                        <i class="ace-icon fa fa-cloud-download white"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-right dropdown-caret dropdown-closer dropdown-warning">
                        <li>
                            <a href="@Url.Action("Export", new { ExcelVersion = Utility.Define.EnumExcelVersion._2003})">Excel 2003</a>
                        </li>

                        <li>
                            <a href="@Url.Action("Export", new { ExcelVersion = Utility.Define.EnumExcelVersion._2007 })">Excel 2007</a>
                        </li>
                    </ul>
                </div>
            </div>
        }
    </div>

    <div class="widget-body">
        <div class="widget-main no-padding" style="overflow:scroll; max-height:500px;">
            <table class="table table-striped table-bordered table-hover nowrap">
                <thead class="thin-border-bottom">
                    <tr>
                        <th class="col-sm-1"></th>
                        <th>@Resources.Resource.Organization</th>
                        <th>裝/卸料站</th>
                        <th>灌島</th>
                        <th>灌口</th>
                        <th>車牌號碼</th>
                        <th>檢查類別</th>
                        <th>司機</th>
                        <th>上次承載物質</th>
                        <th>本次承載物質</th>
                        <th>貨主</th>
                        <th>檢查人員</th>
                        <th>到位日期</th>
                        <th>到位時間</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td class="col-sm-1 center">
                                <div class="action-buttons">
                                    <a class="blue" href="#" onclick="Detail('@item.UniqueID');" title="@Resources.Resource.Detail">
                                        <i class="ace-icon fa fa-search-plus bigger-130"></i>
                                    </a>
                                </div>
                            </td>
                            <td>@item.OrganizationDescription</td>
                            <td>@item.Station</td>
                            <td>@item.Island</td>
                            <td>@item.Port</td>
                            <td>@item.TankNo</td>
                            <td>@item.CheckTypeDisplay</td>
                            <td>@item.Driver</td>
                            <td>@item.LastTimeMaterial</td>
                            <td>@item.ThisTimeMaterial</td>
                            <td>@item.Owner</td>
                            <td>@item.User</td>
                            <td>@item.ArriveDate</td>
                            <td>@item.ArriveTime</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>





