@model Customized.FPTC.Models.DispatchQuery.QueryFormModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles
{
<link href="@Url.Content("~/assets/css/datepicker.css")" rel="stylesheet" />
}

@section Scripts
{
<script type="text/javascript" src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.min.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/jquery.validate.min.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/validator.parseDynamicContent.js")"></script>
<script type="text/javascript" src="@Url.Content("~/assets/js/jquery.maskedinput.min.js")"></script>
<script type="text/javascript" src="@Url.Content("~/assets/js/date-time/bootstrap-datepicker.min.js")"></script>
<script type="text/javascript" src="@Url.Content("~/assets/js/date-time/locales/bootstrap-datepicker."+ViewBag.Lang+".js")"></script>

<script type="text/javascript">
    $(function () {
        $('.datepicker').datepicker({
            format: '@string.Format("yyyy{0}mm{0}dd", Utility.Define.DateTimeFormat_DateSeperator)',
            language: "@ViewBag.Lang"
        }).on('changeDate', function () {
            $(this).focusout();
            $(this).datepicker('hide');
        }).mask('@string.Format("9999{0}99{0}99", Utility.Define.DateTimeFormat_DateSeperator)').next().on(ace.click_event, function () {
            $(this).prev().focus();
        });

        $('#DepartmentList').hide();

        $('#Parameters_CompanyID').change(function () {
            var companyID = $(this).val();

            $('#Parameters_DepartmentID').find('option').remove().end().append('<option value="">' + '@Resources.Resource.SelectAll' + '</option>');

            if (companyID != '') {
                $('#DepartmentList li').each(function () {
                    if ($(this).data('companyid') == companyID) {
                        $('#Parameters_DepartmentID').append('<option value="' + $(this).data('departmentid') + '">' + $(this).data('departmentid') + '/' + $(this).data('departmentname') + '</option>');
                    }
                });
            }
        });
    });

    var Query = function () {
        var div = $('#divQueryResult');

        $.ajax({
            type: "GET",
            cache: false,
            url: '@Url.Action("Query")',
            data: $('#QueryForm').serialize(),
            dataType: "html",
            beforeSend: function () { div.Overlay('show'); },
            success: function (data) { div.Overlay('show').html(data); },
            error: function (x, h, r) { div.Overlay('hide').html(x.responseText); }
        });
    }
</script>
}

<div class="row" id="divQueryFormContainer">
    <div class="col-xs-12">
        <div class="widget-box widget-color-dark">
            <div class="widget-header">
                <h5 class="widget-title">@Resources.Resource.Search</h5>
                <div class="widget-toolbar">
                    <a href="#" onclick="Query(); return false;">
                        <i class="ace-icon fa fa-search white"></i>
                    </a>
                </div>
            </div>

            <div class="widget-body">
                <div class="widget-main no-padding">
                    @using (Html.BeginForm("Query", null, FormMethod.Post, new { @ID = "QueryForm" }))
                    {
                        <table class="table table-bordered table-input">
                            <tr>
                                <th class="col-sm-1"><label>派車日期</label></th>
                                <td class="col-sm-2">
                                    <div class="input-group">
                                        @Html.TextBoxFor(x => x.Parameters.BeginDateString, new { @class = "form-control datepicker" })
                                        <span class="input-group-addon">
                                            <i class="fa fa-calendar bigger-110"></i>
                                        </span>
                                    </div>
                                </td>
                                <td class="col-sm-2">
                                    <div class="input-group">
                                        @Html.TextBoxFor(x => x.Parameters.EndDateString, new { @class = "form-control datepicker" })
                                        <span class="input-group-addon">
                                            <i class="fa fa-calendar bigger-110"></i>
                                        </span>
                                    </div>
                                </td>
                                <th class="col-sm-1"><label>車牌</label></th>
                                <td class="col-sm-6">@Html.TextBoxFor(x => x.Parameters.CarNo)</td>
                            </tr>
                            <tr>
                                <th class="col-sm-1"><label>公司</label></th>
                                <td colspan="2" class="col-sm-4">@Html.DropDownListFor(x => x.Parameters.CompanyID, Model.CompanySelectItemList)</td>
                                <th class="col-sm-1"><label>廠處</label></th>
                                <td class="col-sm-6">@Html.DropDownListFor(x => x.Parameters.DepartmentID, Model.DepartmentSelectItemList)</td>
                            </tr>
                            <tr>
                                <th class="col-sm-1"><label>檢查狀態</label></th>
                                <td colspan="4">@Html.DropDownListFor(x => x.Parameters.IsChecked, Model.IsCheckedSelectItemList)</td>
                            </tr>
                        </table>
                    }
                </div>
            </div>
        </div>

        <div class="space"></div>

        <div id="divQueryResult" style="min-height:200px;"></div>
    </div>
</div>

<ul id="DepartmentList">
    @foreach (var dept in Model.DepartmentList)
    { 
        <li data-companyid="@dept.CompanyID" data-departmentid="@dept.ID" data-departmentname="@dept.Name"></li>
    }
</ul>