@model IEnumerable<Models.EquipmentMaintenance.RepairFormManagement.WorkingHourModel>

<table class="table table-striped table-bordered table-hover nowrap">
    <thead class="thin-border-bottom">
        <tr>
            <th class="col-sm-1"></th>
            <th class="col-sm-3">@Resources.Resource.MaintenanceUser</th>
            <th class="col-sm-3">@Resources.Resource.BeginDate</th>
            <th class="col-sm-3">@Resources.Resource.EndDate</th>
            <th class="col-sm-2">@Resources.Resource.WorkingHour</th>
        </tr>
    </thead>
    @foreach (var item in Model)
    {
        <tr>
            <td class="center">
                <div class="action-buttons">
                    <a class="red" href="#" onclick="DeleteWorkingHour('@item.Seq'); return false;" title="@Resources.Resource.Delete">
                        <i class="ace-icon fa fa-trash-o bigger-130"></i>
                    </a>
                </div>
            </td>
            <td>@item.User.User</td>
            <td>@item.BeginDateString</td>
            <td>@item.EndDateString</td>
            <td>@item.WorkingHour</td>
        </tr>
    }
</table>



