<script type="text/javascript">
    $(document).ready(function () {
        GetStandardSelectedList();

        InitStandardSelectTree();

        $('#divStandardSelectTreeWidget').hide();
    });

    function GetStandardSelectedList() {
        var list = $('#divStandardSelectedList');

        $.ajax({
            type: "GET",
            cache: false,
            url: '@Url.Action("GetStandardSelectedList")',
            dataType: "html",
            beforeSend: function () { list.Overlay('show'); },
            success: function (data) { list.Overlay('show').html(data); },
            error: function (x, h, r) { list.Overlay('hide').html(x.responseText); }
        });
    }

    function InitStandardSelectTree() {
        var container = $('#divStandardSelectTreeContainer');

        $.ajax({
            type: "POST",
            cache: false,
            url: '@Url.Action("InitStandardSelectTree")',
            data: { RefOrganizationUniqueID: $('#OrganizationUniqueID').val() },
            dataType: "html",
            beforeSend: function () { container.Overlay('show'); },
            success: function (data) { container.Overlay('hide').html(data); },
            error: function (x, h, r) { container.Overlay('hide').html(x.responseText); }
        });
    }

    var SelectStandard = function () {
        $('#divStandardSelectedListWidget').hide();
        $('#divStandardSelectTreeWidget').show();
    };

    var CancelSelectStandard = function () {
        $('#divStandardSelectedListWidget').show();
        $('#divStandardSelectTreeWidget').hide();
    };

    var StandardPageState = function () {
        var pageState = [];

        $('.Standard').each(function () {
            var isInherit = $(this).prop('checked') ? 'Y' : 'N';
            var standardUniqueID = $(this).data('standarduniqueid');

            var l = '';
            var la = '';
            var ua = '';
            var u = '';
            var a = '';
            var unit = '';
            var remark = '';

            if (isInherit == 'N') {
                l = $(this).closest('tr').find('.LowerLimit').val();
                la = $(this).closest('tr').find('.LowerAlertLimit').val();
                ua = $(this).closest('tr').find('.UpperAlertLimit').val();
                u = $(this).closest('tr').find('.UpperLimit').val();
                a = $(this).closest('tr').find('.AccumulationBase').val();
                unit = $(this).closest('tr').find('.Unit').val();
                remark = $(this).closest('tr').find('.Remark').val();
            }

            pageState.push(isInherit + '@Utility.Define.Seperator' + standardUniqueID + '@Utility.Define.Seperator' + l + '@Utility.Define.Seperator' + la + '@Utility.Define.Seperator' + ua + '@Utility.Define.Seperator' + u + '@Utility.Define.Seperator' + a + '@Utility.Define.Seperator' + unit + '@Utility.Define.Seperator' + remark);
        });

        return JSON.stringify(pageState);
    };

    var AddStandard = function () {
        var data = [];

        $("#divStandardSelectTree").jstree("get_checked", null, true).each(function () {
            data.push($(this).attr("@Utility.Define.EnumTreeAttribute.OrganizationUniqueID") + '@Utility.Define.Seperator' + $(this).attr("@Utility.Define.EnumTreeAttribute.MaintenanceType") + '@Utility.Define.Seperator' + $(this).attr("@Utility.Define.EnumTreeAttribute.StandardUniqueID"));
        });

        $.ajax({
            type: "POST",
            cache: false,
            url: '@Url.Action("AddStandard")',
            data: {
                Selecteds: JSON.stringify(data),
                PageStates: StandardPageState(),
                RefOrganizationUniqueID: $('#OrganizationUniqueID').val()
            },
            dataType: "json",
            beforeSend: function () {
                $('#divStandardSelectTreeWidget').hide();
                $('#divStandardSelectedListWidget').show().Overlay('show');
            },
            success: function (data) {
                $('#divStandardSelectedListWidget').Overlay('hide');

                if (data.IsSuccess) {
                    GetStandardSelectedList();
                    $("#divStandardSelectTree").jstree("uncheck_all");
                }
                else {
                    $.ErrorDialog(data.Message);
                }
            },
            error: function (x, h, r) {
                $('#divStandardSelectedListWidget').Overlay('hide');
                $.ErrorDialog(x.responseText);
            }
        });
    };

    var DeleteStandard = function (standardUniqueID) {
        $.ajax({
            type: "POST",
            cache: false,
            url: '@Url.Action("DeleteStandard")',
            data: {
                'StandardUniqueID': standardUniqueID,
                'PageStates': StandardPageState()
            },
            dataType: "json",
            beforeSend: function () { $('#divStandardSelectedListWidget').Overlay('show'); },
            success: function (data) {
                $('#divStandardSelectedListWidget').Overlay('hide');

                if (data.IsSuccess) {
                    GetStandardSelectedList();
                    $("#divStandardSelectTree").jstree("uncheck_all");
                }
                else {
                    $.ErrorDialog(data.Message);
                }
            },
            error: function (x, h, r) {
                $('#divStandardSelectedListWidget').Overlay('hide');

                $.ErrorDialog(x.responseText);
            }
        });
    };
</script>

<div id="divStandardSelectTreeWidget" class="widget-box widget-color-dark">
    <div class="widget-header">
        <h5 class="widget-title">@Resources.Resource.Equipment @Resources.Resource.Standard</h5>
    </div>

    <div class="widget-body">
        <div class="widget-main padding-4">
            <div id="divStandardSelectTreeContainer" style="min-height:200px;"></div>
        </div>
        <div class="widget-toolbox padding-8 clearfix">
            <button class="btn btn-primary" onclick="AddStandard(); return false;">
                <i class="ace-icon fa fa-plus"></i>
                @Resources.Resource.Select
            </button>
            <button class="btn btn-success" onclick="CancelSelectStandard(); return false;">
                <i class="ace-icon fa fa-ban"></i>
                @Resources.Resource.Cancel
            </button>
        </div>
    </div>
</div>

<div id="divStandardSelectedListWidget" class="widget-box widget-color-dark">
    <div class="widget-header">
        <h5 class="widget-title">@Resources.Resource.Equipment @Resources.Resource.Standard</h5>
        <div class="widget-toolbar">
            <a href="#" onclick="SelectStandard(); return false;">
                <i class="ace-icon fa fa-plus white"></i>
            </a>
        </div>
    </div>

    <div class="widget-body">
        <div class="widget-main no-padding" style="overflow-x:scroll; min-height:50px;">
            <div id="divStandardSelectedList" style="min-height:50px;"></div>
        </div>
    </div>
</div>
