@model Models.EquipmentMaintenance.EquipmentManagement.QueryFormModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles
{
<link href="@Url.Content("~/Content/tree.css")" rel="stylesheet">
}

@section Scripts
{
<script type="text/javascript" src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.min.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/jquery.validate.min.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")"></script>
<script type="text/javascript" src="@Url.Content("~/assets/js/jquery-ui.custom.min.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/jquery.jstree.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/validator.parseDynamicContent.js")"></script>

<script type="text/javascript" src="@Url.Content("~/assets/js/jquery.dataTables.min.js")"></script>
<script type="text/javascript" src="@Url.Content("~/assets/js/jquery.dataTables.bootstrap.js")"></script>

<script type="text/javascript">
    $(function () {
        $('#Parameters_OrganizationUniqueID').val('@((Session["Account"] as Models.Authenticated.Account).UserRootOrganizationUniqueID)');

        InitTree();

        $('#divQueryFormContainer').show();
        $('#divFormContainer').hide();

        $('#ExpandTree').click(function () {
            debugger;
            var i = $(this).find('i');

            if (i.hasClass('fa-chevron-down')) {
                i.removeClass('fa-chevron-down').addClass('fa-chevron-up');
                $('#divTree').jstree("open_all");
            }
            else {
                i.removeClass('fa-chevron-up').addClass('fa-chevron-down');
                $('#divTree').jstree("close_all");
            }
        });

        $('#Parameters_Keyword').keydown(function (event) {
            if (event.which == 13) {
                Query();
                return false;
            }
        });
    });

    var InitTree = function () {
        var container = $('#divTreeContainer');

        $.ajax({
            type: "POST",
            cache: false,
            url: '@Url.Action("InitTree")',
            dataType: "html",
            beforeSend: function () { container.Overlay('show'); },
            success: function (data) { container.Overlay('hide').html(data); },
            error: function (x, h, r) { container.Overlay('hide').html(x.responseText); }
        });
    };

    var Form = function (url, data) {
        $('#divQueryFormContainer').hide();
        $('#divFormContainer').show();

        var form = $('#divForm');

        $.ajax({
            type: "GET",
            cache: false,
            url: url,
            data: data,
            dataType: "html",
            beforeSend: function () { form.Overlay('show'); },
            success: function (data) { form.Overlay('show').html(data); },
            error: function (x, h, r) { form.Overlay('hide').html(x.responseText); }
        });
    };

    var Query = function () {
        if ($('#Parameters_OrganizationUniqueID').val() != '') {
            $('#divQueryFormContainer').show();
            $('#divFormContainer').hide();

            var div = $('#divQueryResult');

            $.ajax({
                type: "GET",
                cache: false,
                url: '@Url.Action("Query")',
                data: $('#QueryForm').serialize(),
                dataType: "html",
                beforeSend: function () { div.Overlay('show'); },
                success: function (data) { div.Overlay('show').html(data); },
                error: function (x, h, r) { div.Overlay('hide').html(x.responseText); }
            });
        }
        else {
            Cancel();
        }
    }

    var Detail = function (uniqueID) {
        Form('@Url.Action("Detail")', { UniqueID: uniqueID });
    }

    var Cancel = function () {
        $('#divForm').empty();
        $('#divQueryResult').empty();

        $('#divQueryFormContainer').show();
        $('#divFormContainer').hide();
    };
</script>
}

<div class="row" id="divQueryFormContainer">
    <div class="col-xs-3">
        @using (Html.BeginForm("Query", null, FormMethod.Post, new { @ID = "QueryForm" }))
        {
            @Html.HiddenFor(x => x.Parameters.OrganizationUniqueID)

            <div class="input-group">
                <span class="input-group-addon" onclick="Query();" style="cursor:pointer;">
                    <i class="fa fa-search bigger-110"></i>
                </span>
                @Html.TextBoxFor(x => x.Parameters.Keyword, new { @class = "form-control" })
            </div>
        }

        <div class="space"></div>

        <div class="widget-box widget-color-dark">
            <div class="widget-header">
                <h5 class="widget-title">@Resources.Resource.Equipment @Resources.Resource.Data @Resources.Resource.Management</h5>
                <div class="widget-toolbar">
                    <a href="#" id="ExpandTree" title="">
                        <i class="ace-icon fa fa-chevron-down white"></i>
                    </a>
                </div>
                <div class="widget-toolbar">
                    <a href="#" onclick="InitTree();">
                        <i class="ace-icon fa fa-refresh white"></i>
                    </a>
                </div>
            </div>

            <div class="widget-body">
                <div class="widget-main padding-4" style="overflow-x:scroll;">
                    <div id="divTreeContainer" style="min-height:200px;"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xs-9">
        <div id="divQueryResult" style="min-height:200px;"></div>
    </div>
</div>

<div class="row" id="divFormContainer">
    <div class="col-xs-12">
        <div id="divForm" style="min-height:200px;"></div>
    </div>
</div>