<script type="text/javascript">
    $(document).ready(function () {
        GetSelectedList();

        InitSelectTree();

        $('#divSelectTreeWidget').hide();
    });

    function GetSelectedList() {
        var list = $('#divSelectedList');

        $.ajax({
            type: "GET",
            cache: false,
            url: '@Url.Action("GetSelectedList")',
            dataType: "html",
            beforeSend: function () { list.Overlay('show'); },
            success: function (data) { list.Overlay('show').html(data); },
            error: function (x, h, r) { list.Overlay('hide').html(x.responseText); }
        });
    }

    function InitSelectTree() {
        var container = $('#divSelectTreeContainer');

        $.ajax({
            type: "POST",
            cache: false,
            url: '@Url.Action("InitSelectTree")',
            data: { RefOrganizationUniqueID: $('#OrganizationUniqueID').val() },
            dataType: "html",
            beforeSend: function () { container.Overlay('show'); },
            success: function (data) { container.Overlay('hide').html(data); },
            error: function (x, h, r) { container.Overlay('hide').html(x.responseText); }
        });
    }

    var Select = function () {
        $('#divSelectedListWidget').hide();
        $('#divSelectTreeWidget').show();
    };

    var CancelSelect = function () {
        $('#divSelectedListWidget').show();
        $('#divSelectTreeWidget').hide();
    };

    var PageState = function () {
        var pageState = [];

        $('.IsInherit').each(function () {
            var isInherit = $(this).prop('checked') ? 'Y' : 'N';
            var checkItemUniqueID = $(this).data('checkitemuniqueid');

            var l = '';
            var la = '';
            var ua = '';
            var u = '';
            var a = '';
            var unit = '';
            var remark = '';

            if (isInherit == 'N') {
                l = $(this).closest('tr').find('.LowerLimit').val();
                la = $(this).closest('tr').find('.LowerAlertLimit').val();
                ua = $(this).closest('tr').find('.UpperAlertLimit').val();
                u = $(this).closest('tr').find('.UpperLimit').val();
                a = $(this).closest('tr').find('.AccumulationBase').val();
                unit = $(this).closest('tr').find('.Unit').val();
                remark = $(this).closest('tr').find('.Remark').val();
            }

            pageState.push(isInherit + '@Utility.Define.Seperator' + checkItemUniqueID + '@Utility.Define.Seperator' + l + '@Utility.Define.Seperator' + la + '@Utility.Define.Seperator' + ua + '@Utility.Define.Seperator' + u + '@Utility.Define.Seperator' + a + '@Utility.Define.Seperator' + unit + '@Utility.Define.Seperator' + remark);
        });

        return JSON.stringify(pageState);
    };

    var AddSelect = function () {
        var data = [];

        $("#divSelectTree").jstree("get_checked", null, true).each(function () {
            data.push($(this).attr("@Utility.Define.EnumTreeAttribute.OrganizationUniqueID") + '@Utility.Define.Seperator' + $(this).attr("@Utility.Define.EnumTreeAttribute.CheckType") + '@Utility.Define.Seperator' + $(this).attr("@Utility.Define.EnumTreeAttribute.CheckItemUniqueID"));
        });

        $.ajax({
            type: "POST",
            cache: false,
            url: '@Url.Action("AddSelect")',
            data: {
                Selecteds: JSON.stringify(data),
                PageStates: PageState(),
                RefOrganizationUniqueID: $('#OrganizationUniqueID').val()
            },
            dataType: "json",
            beforeSend: function () {
                $('#divSelectTreeWidget').hide();
                $('#divSelectedListWidget').show().Overlay('show');
            },
            success: function (data) {
                $('#divSelectedListWidget').Overlay('hide');

                if (data.IsSuccess) {
                    GetSelectedList();
                    $("#divSelectTree").jstree("uncheck_all");
                }
                else {
                    $.ErrorDialog(data.Message);
                }
            },
            error: function (x, h, r) {
                $('#divSelectedListWidget').Overlay('hide');

                $.ErrorDialog(x.responseText);
            }
        });
    };

    var DeleteSelected = function (uniqueID) {
        $.ajax({
            type: "POST",
            cache: false,
            url: '@Url.Action("DeleteSelected")',
            data: {
                CheckItemUniqueID: uniqueID,
                PageStates: PageState()
            },
            dataType: "json",
            beforeSend: function () { $('#divSelectedListWidget').Overlay('show'); },
            success: function (data) {
                $('#divSelectedListWidget').Overlay('hide');

                if (data.IsSuccess) {
                    GetSelectedList();
                    $("#divSelectTree").jstree("uncheck_all");
                }
                else {
                    $.ErrorDialog(data.Message);
                }
            },
            error: function (x, h, r) {
                $('#divSelectedListWidget').Overlay('hide');

                $.ErrorDialog(x.responseText);
            }
        });
    };
</script>

<div id="divSelectTreeWidget" class="widget-box widget-color-dark">
    <div class="widget-header">
        <h5 class="widget-title">@Resources.Resource.CheckItem</h5>
    </div>

    <div class="widget-body">
        <div class="widget-main padding-4">
            <div id="divSelectTreeContainer" style="min-height:200px;"></div>
        </div>
        <div class="widget-toolbox padding-8 clearfix">
            <button class="btn btn-primary" onclick="AddSelect(); return false;">
                <i class="ace-icon fa fa-plus"></i>
                @Resources.Resource.Select
            </button>
            <button class="btn btn-success" onclick="CancelSelect(); return false;">
                <i class="ace-icon fa fa-ban"></i>
                @Resources.Resource.Cancel
            </button>
        </div>
    </div>
</div>

<div id="divSelectedListWidget" class="widget-box widget-color-dark">
    <div class="widget-header">
        <h5 class="widget-title">@Resources.Resource.CheckPoint @Resources.Resource.CheckItem</h5>
        <div class="widget-toolbar">
            <a href="#" onclick="Select(); return false;">
                <i class="ace-icon fa fa-plus white"></i>
            </a>
        </div>
    </div>

    <div class="widget-body">
        <div class="widget-main no-padding" style="overflow-x:scroll;">
            <div id="divSelectedList" style="min-height:200px;"></div>
        </div>
    </div>
</div>
