@model IEnumerable<Models.ASE.QA.AbnormalForm.FileModel>

<table class="table table-striped table-bordered table-hover nowrap">
    <thead class="thin-border-bottom">
        <tr>
            <th class="col-sm-1 center"></th>
            <th>@Resources.Resource.FileName</th>
            <th>@Resources.Resource.FileSize</th>
            <th>@Resources.Resource.FileTime</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td class="col-sm-1 center">
                    <div class="action-buttons">
                        <a class="red" href="#" onclick="DeleteFile('@item.Seq'); return false;" title="@Resources.Resource.Delete">
                            <i class="ace-icon fa fa-trash-o bigger-130"></i>
                        </a>
                    </div>
                </td>
                <td>@item.Display</td>
                <td>@item.FileSize</td>
                <td>@item.LastModifyTimeString</td>
            </tr>
        }
    </tbody>
</table>

