@model Models.ASE.QA.CalibrationApply.DetailViewModel

<p>
    <button class="btn btn-app btn-success btn-xs" onclick="Query();" type="button">
        <i class="ace-icon fa fa-ban bigger-160"></i>
        返回
    </button>
</p>

<div class="widget-box widget-color-dark">
    <div class="widget-header">
        <h5 class="widget-title">@Resources.Resource.CalibrationApply</h5>
    </div>

    <div class="widget-body">
        <div class="widget-main no-padding">
            <table class="table table-bordered table-input">
                <tr>
                    <th class="col-sm-1">@Html.LabelFor(x => x.FormViewModel.VHNO)</th>
                    <td >@Html.DisplayFor(x => x.FormViewModel.VHNO)</td>
                    <th class="col-sm-1"><label>狀態</label></th>
                    <td ><span class="label label-lg @Model.FormViewModel.Status.LabelClass">@Model.FormViewModel.Status.Display</span></td>
                </tr>
                <tr>
                    <th class="col-sm-1">@Html.LabelFor(x => x.FormViewModel.Creator)</th>
                    <td class="col-sm-5">@Html.DisplayFor(x => x.FormViewModel.Creator)</td>
                    <th class="col-sm-1">@Html.LabelFor(x => x.FormViewModel.CreateTimeString)</th>
                    <td class="col-sm-5">@Html.DisplayFor(x => x.FormViewModel.CreateTimeString)</td>
                </tr>
                <tr>
                    <th>@Html.LabelFor(x => x.FormViewModel.Factory)</th>
                    <td colspan="3">@Html.DisplayFor(x => x.FormViewModel.Factory)</td>
                </tr>
                <tr>
                    <th>@Html.LabelFor(x => x.FormViewModel.Department)</th>
                    <td colspan="3">@Html.DisplayFor(x => x.FormViewModel.Department)</td>
                </tr>
                <tr>
                    <th class="col-sm-1">@Html.LabelFor(x => x.FormViewModel.IchiTypeDisplay)</th>
                    <td colspan="3">@Html.DisplayFor(x => x.FormViewModel.IchiTypeDisplay)</td>
                </tr>
                <tr>
                    <th class="col-sm-1">@Html.LabelFor(x => x.FormViewModel.Ichi)</th>
                    <td colspan="3">@Html.DisplayFor(x => x.FormViewModel.Ichi)</td>
                </tr>
                <tr>
                    <th class="col-sm-1">@Html.LabelFor(x => x.FormViewModel.CharacteristicType)</th>
                    <td class="col-sm-5">@Html.DisplayFor(x => x.FormViewModel.CharacteristicType)</td>
                    <th class="col-sm-1">@Html.LabelFor(x => x.FormViewModel.Spec)</th>
                    <td class="col-sm-5">@Html.DisplayFor(x => x.FormViewModel.Spec)</td>
                    
                </tr>
                <tr>
                    <th class="col-sm-1">@Html.LabelFor(x => x.FormViewModel.MachineNo)</th>
                    <td class="col-sm-5">@Html.DisplayFor(x => x.FormViewModel.MachineNo)</td>
                    <th class="col-sm-1">@Html.LabelFor(x => x.FormViewModel.SerialNo)</th>
                    <td class="col-sm-5">@Html.DisplayFor(x => x.FormViewModel.SerialNo)</td>
                    
                </tr>
                <tr>
                    <th class="col-sm-1">@Html.LabelFor(x => x.FormViewModel.Brand)</th>
                    <td class="col-sm-5">@Html.DisplayFor(x => x.FormViewModel.Brand)</td>
                    <th class="col-sm-1">@Html.LabelFor(x => x.FormViewModel.Model)</th>
                    <td class="col-sm-5">@Html.DisplayFor(x => x.FormViewModel.Model)</td>
                </tr>
                @if (!Model.FormViewModel.CAL && !Model.FormViewModel.MSA)
                {
                    <tr>
                        <th class="col-sm-1"><label>免校驗</label></th>
                        <td colspan="3">
                            <i class="ace-icon fa fa-check bigger-110 red"></i>
                        </td>
                    </tr>
                }
                else
                {
                    <tr>
                        <th class="col-sm-1">@Html.LabelFor(x => x.FormViewModel.CAL)</th>
                        <td class="col-sm-5">
                            @if (Model.FormViewModel.CAL)
                            {
                                <i class="ace-icon fa fa-check bigger-110 red"></i>
                            }
                        </td>
                        <th class="col-sm-1">@Html.LabelFor(x => x.FormViewModel.MSA)</th>
                        <td class="col-sm-5">
                            @if (Model.FormViewModel.MSA)
                            {
                                <i class="ace-icon fa fa-check bigger-110 red"></i>
                            }
                        </td>
                    </tr>
                    <tr>
                        <th class="col-sm-1">@Html.LabelFor(x => x.FormViewModel.CalCycle)</th>
                        <td>@Html.DisplayFor(x => x.FormViewModel.CalCycle)</td>
                        <th class="col-sm-1">@Html.LabelFor(x => x.FormViewModel.MSACycle)</th>
                        <td>@Html.DisplayFor(x => x.FormViewModel.MSACycle)</td>
                    </tr>
                }
                <tr>
                    <th class="col-sm-1">@Html.LabelFor(x => x.FormViewModel.Owner)</th>
                    <td class="col-sm-5">@Html.DisplayFor(x => x.FormViewModel.Owner)</td>
                    <th class="col-sm-1">@Html.LabelFor(x => x.FormViewModel.PE)</th>
                    <td class="col-sm-5">@Html.DisplayFor(x => x.FormViewModel.PE)</td>
                </tr>
                <tr>
                    <th class="col-sm-1">@Html.LabelFor(x => x.FormViewModel.OwnerManager)</th>
                    <td class="col-sm-5">@Html.DisplayFor(x => x.FormViewModel.OwnerManager)</td>
                    <th class="col-sm-1">@Html.LabelFor(x => x.FormViewModel.PEManager)</th>
                    <td class="col-sm-5">@Html.DisplayFor(x => x.FormViewModel.PEManager)</td>
                </tr>
                <tr>
                    <th>@Html.LabelFor(x => x.FormViewModel.Remark)</th>
                    <td colspan="3">@Html.DisplayFor(x => x.FormViewModel.Remark)</td>
                </tr>
                @if (!string.IsNullOrEmpty(Model.FormViewModel.FormVHNO))
                {
                    <tr>
                        <th><label>執行單號</label></th>
                        <td colspan="3">
                            <a class="blue" onclick="CalibrationForm('@Model.FormViewModel.FormUniqueID')" title="@Resources.Resource.Detail">
                                @Model.FormViewModel.FormVHNO
                            </a>
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>
</div>

@if (Model.FormViewModel.ItemList != null && Model.FormViewModel.ItemList.Count > 0)
{
    <div class="space"></div>

    <div class="widget-box widget-color-dark">
        <div class="widget-header">
            <h5 class="widget-title">校驗資訊</h5>
        </div>

        <div class="widget-body">
            <div class="widget-main no-padding" style="overflow-x:scroll; min-height:150px;">
                <table class="table table-striped table-bordered table-hover nowrap">
                    <thead class="thin-border-bottom">
                        <tr>
                            <th>@Resources.Resource.Characteristic</th>
                            <th>@Resources.Resource.Unit</th>
                            <th>@Resources.Resource.UsingRange</th>
                            <th>@Resources.Resource.UsingRangeTolerance</th>
                            <th>校驗點</th>
                            <th>@Resources.Resource.Tolerance</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.FormViewModel.ItemList)
                        {
                            foreach (var subitem in item.ItemList)
                            {
                                <tr>
                                    <td>@item.Characteristic</td>
                                    <td>@item.Unit</td>
                                    <td>@item.UsingRange</td>
                                    <td>@item.UsingRangeToleranceDisplay</td>
                                    <td>@subitem.CalibrationPointDisplay</td>
                                    <td>@subitem.ToleranceDisplay</td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
}

@if (Model.FormViewModel.CAL && Model.FormViewModel.EstCalibrateDate.HasValue)
{
    <div class="space"></div>
    
    <div class="widget-box widget-color-dark">
        <div class="widget-header">
            <h5 class="widget-title">@Resources.Resource.Calibration @Resources.Resource.Information</h5>
        </div>

        <div class="widget-body">
            <div class="widget-main no-padding">
                <table class="table table-bordered table-input">
                    <tr>
                        <th class="col-sm-1">@Html.LabelFor(x => x.FormViewModel.CalibrateTypeDisplay)</th>
                        <td colspan="3">@Html.DisplayFor(x => x.FormViewModel.CalibrateTypeDisplay)</td>
                    </tr>
                    <tr>
                        <th class="col-sm-1">@Html.LabelFor(x => x.FormViewModel.CalibrateUnitDisplay)</th>
                        <td class="col-sm-5">@Html.DisplayFor(x => x.FormViewModel.CalibrateUnitDisplay)</td>
                        <th class="col-sm-1">@Html.LabelFor(x => x.FormViewModel.CaseTypeDisplay)</th>
                        <td class="col-sm-5">@Html.DisplayFor(x => x.FormViewModel.CaseTypeDisplay)</td>
                    </tr>
                    <tr>
                        <th class="col-sm-1">@Html.LabelFor(x => x.FormViewModel.Calibrator)</th>
                        <td class="col-sm-5">@Html.DisplayFor(x => x.FormViewModel.Calibrator)</td>
                        <th class="col-sm-1">@Html.LabelFor(x => x.FormViewModel.EstCalibrateDateString)</th>
                        <td class="col-sm-5">@Html.DisplayFor(x => x.FormViewModel.EstCalibrateDateString)</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
}

@if (Model.FormViewModel.MSA && !string.IsNullOrEmpty(Model.FormViewModel.MSAStationDisplay))
{
    <div class="space"></div>
    
    <div class="widget-box widget-color-dark">
        <div class="widget-header">
            <h5 class="widget-title">@Resources.Resource.MSA @Resources.Resource.Information</h5>
        </div>

        <div class="widget-body">
            <div class="widget-main no-padding">
                <table class="table table-bordered table-input">
                    <tr>
                        <th class="col-sm-1"><label>類別</label></th>
                        <td colspan="3">@Html.DisplayFor(x => x.FormViewModel.MSATypeDisplay)</td>
                    </tr>
                    <tr>
                        <th class="col-sm-1">@Html.LabelFor(x => x.FormViewModel.MSAStationDisplay)</th>
                        <td class="col-sm-5">@Html.DisplayFor(x => x.FormViewModel.MSAStationDisplay)</td>
                        <th class="col-sm-1">@Html.LabelFor(x => x.FormViewModel.MSAIchiDisplay)</th>
                        <td class="col-sm-5">@Html.DisplayFor(x => x.FormViewModel.MSAIchiDisplay)</td>
                    </tr>
                    <tr>
                        <th class="col-sm-1">@Html.LabelFor(x => x.FormViewModel.MSACharacteristicDisplay)</th>
                        <td colspan="3">@Html.DisplayFor(x => x.FormViewModel.MSACharacteristicDisplay)</td>
                    </tr>
                    @if (Model.FormViewModel.EstMSADate.HasValue)
                    {
                        <tr>
                            <th class="col-sm-1">@Html.LabelFor(x => x.FormViewModel.MSAResponsor)</th>
                            <td class="col-sm-5">@Html.DisplayFor(x => x.FormViewModel.MSAResponsor)</td>
                            <th class="col-sm-1">@Html.LabelFor(x => x.FormViewModel.EstMSADateString)</th>
                            <td class="col-sm-5">@Html.DisplayFor(x => x.FormViewModel.EstMSADateString)</td>
                        </tr>
                    }
                </table>
            </div>
        </div>
    </div>
}

@if (Model.FormViewModel.LogList != null && Model.FormViewModel.LogList.Count > 0)
{
    <div class="space"></div>
    
    <div class="widget-box widget-color-dark">
        <div class="widget-header">
            <h5 class="widget-title">簽核流程</h5>
        </div>

        <div class="widget-body">
            <div class="widget-main no-padding" style="overflow-x:scroll; min-height:150px;">
                <table class="table table-striped table-bordered table-hover nowrap">
                    <thead class="thin-border-bottom">
                        <tr>
                            <th>@Resources.Resource.Role</th>
                            <th>@Resources.Resource.VerifyUser</th>
                            <th>@Resources.Resource.NotifyTime</th>
                            <th>@Resources.Resource.VerifyTime</th>
                            <th>@Resources.Resource.VerifyResult</th>
                            <th>@Resources.Resource.VerifyComment</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.FormViewModel.LogList)
                        {
                            <tr>
                                <td>@item.Role</td>
                                <td>@item.User</td>
                                <td>@item.NotifyTimeString</td>
                                <td>@item.VerifyTimeString</td>
                                <td>@item.VerifyResultDescription</td>
                                <td>@item.VerifyComment</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
}