@model System.String

<script type="text/javascript">
    $(function () {
        $('#divTree').jstree({
            "core": { animation: 0 },
            "json_data": {
                "data": [@(Html.Raw(Model))],
                "ajax": {
                    "url": '@Url.Action("GetTreeItem")',
                    'cache': false,
                    "data": function (n) {
                        return {
                            OrganizationUniqueID: n.attr("@Utility.Define.EnumTreeAttribute.OrganizationUniqueID"),
                            EquipmentType: n.attr("@Utility.Define.EnumTreeAttribute.EquipmentType")
                        };
                    }
                }
            },
            "animation": 0,
            "plugins": ["themes", "json_data", "ui"],
            "themes": { "theme": "apple", "dots": true, "icons": true },
            "ui": { "select_limit": 1 }
        }).bind("select_node.jstree", function (e, data) {
            switch (data.rslt.obj.attr("@Utility.Define.EnumTreeAttribute.NodeType")) {
                case '@Utility.Define.EnumTreeNodeType.Organization':
                case '@Utility.Define.EnumTreeNodeType.EquipmentType':
                    $('#Parameters_OrganizationUniqueID').val(data.rslt.obj.attr("@Utility.Define.EnumTreeAttribute.OrganizationUniqueID"));
                    $('#Parameters_EquipmentType').val(data.rslt.obj.attr("@Utility.Define.EnumTreeAttribute.EquipmentType"));
                    Query();
                    break;
                case '@Utility.Define.EnumTreeNodeType.EquipmentSpec':
                    Detail(data.rslt.obj.attr("@Utility.Define.EnumTreeAttribute.EquipmentSpecUniqueID"));
                    break;
            }

            e.preventDefault();
        }).bind("hover_node.jstree", function (e, data) {
            var tooltip = data.rslt.obj.attr("@Utility.Define.EnumTreeAttribute.ToolTip");

            if (tooltip != '') {
                var a = data.rslt.obj.find('a:first');

                a.tooltip({
                    'title': tooltip
                });

                a.tooltip('show');
            }

            e.preventDefault();
        }).bind("load_node.jstree", function (e, data) {
            $('.jstree-apple li[nodetype="@Utility.Define.EnumTreeNodeType.Organization"]').find('a:first ins').remove();
            $('.jstree-apple li[nodetype="@Utility.Define.EnumTreeNodeType.EquipmentType"]').find('a:first ins').addClass('fa fa-chevron-right red').removeClass('jstree-icon');
            $('.jstree-apple li[nodetype="@Utility.Define.EnumTreeNodeType.EquipmentSpec"]').find('a:first ins').addClass('fa fa-newspaper-o red').removeClass('jstree-icon');

            e.preventDefault();
        });
    });
</script>

<div id="divTree"></div>


