@model Models.UserManagement.CreateFormModel

<script type="text/javascript">
    $(document).ready(function () {
        $.validator.unobtrusive.parse("#CreateForm");

        $('#FormInput_IsMobileUser').prop('checked', $('#FormInput_IsMobileUser').data('checked') == 'Y');

        $('.AuthGroup').each(function () {
            $(this).prop('checked', $(this).data('checked') == 'Y');
        });
    });

    var Save = function () {
        var form = $('#CreateForm');

        if (form.valid()) {
            var authGroup = [];

            $('.AuthGroup:checked').each(function () {
                authGroup.push($(this).val());
            });

            $('#FormInput_AuthGroups').val(JSON.stringify(authGroup));

            $.ajax({
                type: "POST",
                cache: false,
                url: '@Url.Action("Create")',
                data: form.serialize(),
                dataType: "json",
                beforeSend: function () { $.Overlay('show'); },
                success: function (data) {
                    $.Overlay('hide');

                    if (data.IsSuccess) {
                        Query();
                        $.SuccessDialog(data.Message);
                    }
                    else {
                        $.ErrorDialog(data.Message);
                    }
                },
                error: function (x, h, r) {
                    $.Overlay('hide');
                    $.ErrorDialog(x.responseText);
                }
            });
        }
    };
</script>

<p>
    <button class="btn btn-app btn-primary btn-xs" onclick="Save();" type="button">
        <i class="ace-icon fa fa-save bigger-160"></i>
        @Resources.Resource.Save
    </button>

    <button class="btn btn-app btn-success btn-xs" onclick="Query();" type="button">
        <i class="ace-icon fa fa-ban bigger-160"></i>
        @Resources.Resource.Cancel
    </button>
</p>

<div class="widget-box widget-color-dark">
    <div class="widget-header">
        <h5 class="widget-title">@Resources.Resource.Create @Resources.Resource.User</h5>
    </div>

    <div class="widget-body">
        <div class="widget-main no-padding">
            @using (Html.BeginForm("Create", null, FormMethod.Post, new { @ID = "CreateForm" }))
            {
                @Html.HiddenFor(x => x.OrganizationUniqueID)
                @Html.HiddenFor(x => x.FormInput.AuthGroups)

                <table class="table table-bordered table-input">
                    <tr>
                        <th>@Html.LabelFor(x => x.ParentOrganizationFullDescription)</th>
                        <td colspan="3">@Html.DisplayFor(x => x.ParentOrganizationFullDescription)</td>
                    </tr>
                    <tr>
                        <th class="col-sm-1">@Html.LabelFor(x => x.FormInput.ID)</th>
                        <td class="col-sm-5">
                            @Html.TextBoxFor(x => x.FormInput.ID, new { @class = "col-sm-11" })
                            <br />
                            @Html.ValidationMessageFor(x => x.FormInput.ID)
                        </td>
                        <th class="col-sm-1">@Html.LabelFor(x => x.FormInput.Name)</th>
                        <td class="col-sm-5">
                            @Html.TextBoxFor(x => x.FormInput.Name, new { @class = "col-sm-11" })
                            <br />
                            @Html.ValidationMessageFor(x => x.FormInput.Name)
                        </td>
                    </tr>
                    <tr>
                        <th>@Html.LabelFor(x => x.FormInput.Title)</th>
                        <td>@Html.TextBoxFor(x => x.FormInput.Title, new { @class = "col-sm-6" })</td>
                        <th>@Html.LabelFor(x => x.FormInput.UID)</th>
                        <td>@Html.TextBoxFor(x => x.FormInput.UID, new { @class = "col-sm-6" })</td>
                    </tr>
                    <tr>
                        <th>@Html.LabelFor(x => x.FormInput.IsMobileUser)</th>
                        <td colspan="3">
                            <label>
                                <input id="FormInput_IsMobileUser" name="FormInput.IsMobileUser" class="ace ace-checkbox-2" type="checkbox" value="true" data-checked="@(Model.FormInput.IsMobileUser ? "Y" : "N")">
                                <span class="lbl"></span>
                            </label>
                        </td>
                    </tr>
                    <tr>
                        <th>@Html.LabelFor(x => x.FormInput.EMail)</th>
                        <td colspan="3">@Html.TextBoxFor(x => x.FormInput.EMail, new { @class = "col-sm-10" })</td>
                    </tr>
                    <tr>
                        <th>@Html.LabelFor(x => x.FormInput.AuthGroups)</th>
                        <td colspan="3">
                            @foreach (var item in Model.AuthGroupList)
                            {
                                <label style="padding:2px;">
                                    <input type="checkbox" class="ace ace-checkbox-2 AuthGroup" value="@item.ID" data-checked="@(Model.UserAuthGroupList.Any(x => x == item.ID) ? "Y" : "N")">
                                    <span class="lbl"> @item.Name</span>
                                </label>
                            }
                        </td>
                    </tr>
                </table>
            }
        </div>
    </div>
</div>