@model Models.ASE.QA.MSANotify.DetailViewModel

<p>
    <button class="btn btn-app btn-success btn-xs" onclick="Query();" type="button">
        <i class="ace-icon fa fa-ban bigger-160"></i>
        返回
    </button>
</p>

<div class="widget-box widget-color-dark">
    <div class="widget-header">
        <h5 class="widget-title">MSA 通知單</h5>
    </div>

    <div class="widget-body">
        <div class="widget-main no-padding">
            <table class="table table-bordered table-input">
                <tr>
                    <th class="col-sm-1">@Html.LabelFor(x => x.FormViewModel.VHNO)</th>
                    <td >@Html.DisplayFor(x => x.FormViewModel.VHNO)</td>
                    <th class="col-sm-1">@Html.LabelFor(x => x.FormViewModel.Status.Display)</th>
                    <td >
                        @if ( Model.FormViewModel.Status.Status == "1")
                        {
                            <span class="label label-lg label-purple arrowed-right">@Model.FormViewModel.Status.Display</span>
                        }
                        else if (Model.FormViewModel.Status.Status == "0" || Model.FormViewModel.Status.Status == "2")
                        {
                            <span class="label label-lg label-danger arrowed-right">@Model.FormViewModel.Status.Display</span>
                        }
                        else if (Model.FormViewModel.Status.Status == "3")
                        {
                            <span class="label label-lg label-success arrowed-right">@Model.FormViewModel.Status.Display</span>
                        }
                        else
                        {
                            <span>@Model.FormViewModel.Status.Display</span>
                        }
                    </td>
                </tr>
                <tr>
                    <th class="col-sm-1">@Html.LabelFor(x => x.FormViewModel.CreateTimeString)</th>
                    <td colspan="3">@Html.DisplayFor(x => x.FormViewModel.CreateTimeString)</td>
                </tr>
                <tr>
                    <th class="col-sm-1">@Html.LabelFor(x => x.FormViewModel.CharacteristicType)</th>
                    <td class="col-sm-5">@Html.DisplayFor(x => x.FormViewModel.CharacteristicType)</td>
                    <th class="col-sm-1">@Html.LabelFor(x => x.FormViewModel.Cycle)</th>
                    <td class="col-sm-5">@Html.DisplayFor(x => x.FormViewModel.Cycle)</td>
                </tr>
            </table>
        </div>
    </div>
</div>

<div class="space"></div>

@Html.Partial("_Equipment", Model.FormViewModel.Equipment)

<div class="space"></div>

<div class="widget-box widget-color-dark">
    <div class="widget-header">
        <h5 class="widget-title">@Resources.Resource.MSA @Resources.Resource.Information</h5>
    </div>

    <div class="widget-body">
        <div class="widget-main no-padding">
            <table class="table table-bordered table-input">
                <tr>
                    <th class="col-sm-1"><label>類別</label></th>
                    <td colspan="3">@Html.DisplayFor(x => x.FormViewModel.MSATypeDisplay)</td>
                </tr>
                <tr>
                    <th class="col-sm-1">@Html.LabelFor(x => x.FormViewModel.MSAStationDisplay)</th>
                    <td class="col-sm-5">@Html.DisplayFor(x => x.FormViewModel.MSAStationDisplay)</td>
                    <th class="col-sm-1">@Html.LabelFor(x => x.FormViewModel.MSAIchiDisplay)</th>
                    <td class="col-sm-5">@Html.DisplayFor(x => x.FormViewModel.MSAIchiDisplay)</td>
                </tr>
                <tr>
                    <th class="col-sm-1">@Html.LabelFor(x => x.FormViewModel.MSACharacteristicDisplay)</th>
                    <td colspan="3">@Html.DisplayFor(x => x.FormViewModel.MSACharacteristicDisplay)</td>
                </tr>
                @if (Model.FormViewModel.EstMSADate.HasValue)
                {
                    <tr>
                        <th class="col-sm-1">@Html.LabelFor(x => x.FormViewModel.MSAResponsor)</th>
                        <td class="col-sm-5">@Html.DisplayFor(x => x.FormViewModel.MSAResponsor)</td>
                        <th class="col-sm-1">@Html.LabelFor(x => x.FormViewModel.EstMSADateString)</th>
                        <td class="col-sm-5">@Html.DisplayFor(x => x.FormViewModel.EstMSADateString)</td>
                    </tr>
                }
            </table>
        </div>
    </div>
</div>



@if (Model.FormViewModel.LogList != null && Model.FormViewModel.LogList.Count > 0)
{
    <div class="space"></div>
    
    <div class="widget-box widget-color-dark">
        <div class="widget-header">
            <h5 class="widget-title">簽核流程</h5>
        </div>

        <div class="widget-body">
            <div class="widget-main no-padding" style="overflow-x:scroll; min-height:150px;">
                <table class="table table-striped table-bordered table-hover nowrap">
                    <thead class="thin-border-bottom">
                        <tr>
                            <th>@Resources.Resource.Role</th>
                            <th>@Resources.Resource.VerifyUser</th>
                            <th>@Resources.Resource.NotifyTime</th>
                            <th>@Resources.Resource.VerifyTime</th>
                            <th>@Resources.Resource.VerifyResult</th>
                            <th>@Resources.Resource.VerifyComment</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.FormViewModel.LogList)
                        {
                            <tr>
                                <td>@item.Role</td>
                                <td>@item.User</td>
                                <td>@item.NotifyTimeString</td>
                                <td>@item.VerifyTimeString</td>
                                <td>@item.VerifyResultDescription</td>
                                <td>@item.VerifyComment</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
}