@model Models.TankPatrol.IslandManagement.EditFormModel

<script type="text/javascript">
    $(document).ready(function () {
        $.validator.unobtrusive.parse("#EditForm");
    });

    function Save() {
        var form = $('#EditForm');

        if (form.valid()) {
            $.ajax({
                type: "POST",
                cache: false,
                url: '@Url.Action("Edit")',
                data: form.serialize(),
                dataType: "json",
                beforeSend: function () { $.Overlay('show'); },
                success: function (data) {
                    $.Overlay('hide');

                    if (data.IsSuccess) {
                        Query();
                        $.SuccessDialog(data.Message);    
                    }
                    else {
                        $.ErrorDialog(data.Message);
                    }
                },
                error: function (x, h, r) {
                    $.Overlay('hide');
                    $.ErrorDialog(x.responseText);
                }
            });
        }
    }
</script>

<p>
    <button class="btn btn-app btn-primary btn-xs" onclick="Save();" type="button">
        <i class="ace-icon fa fa-save bigger-160"></i>
        @Resources.Resource.Save
    </button>

    <button class="btn btn-app btn-success btn-xs" onclick="Query();" type="button">
        <i class="ace-icon fa fa-ban bigger-160"></i>
        @Resources.Resource.Cancel
    </button>
</p>

<div class="widget-box widget-color-dark">
    <div class="widget-header">
        <h5 class="bigger lighter">@Resources.Resource.Edit 灌島</h5>
    </div>

    <div class="widget-body">
        <div class="widget-main no-padding">
            @using (Html.BeginForm("Edit", null, FormMethod.Post, new { @ID = "EditForm" }))
            {
                @Html.HiddenFor(x => x.UniqueID)

                <table class="table table-bordered table-input">
                    <tr>
                        <th>@Html.LabelFor(x => x.ParentOrganizationFullDescription)</th>
                        <td colspan="3">@Html.DisplayFor(x => x.ParentOrganizationFullDescription)</td>
                    </tr>
                    <tr>
                        <th>@Html.LabelFor(x => x.StationDescription)</th>
                        <td colspan="3">@Html.DisplayFor(x => x.StationDescription)</td>
                    </tr>
                    <tr>
                        <th class="col-sm-1">@Html.LabelFor(x => x.FormInput.ID)</th>
                        <td class="col-sm-11">
                            @Html.TextBoxFor(x => x.FormInput.ID, new { @class = "col-sm-3" })
                            <br />
                            @Html.ValidationMessageFor(x => x.FormInput.ID)
                        </td>
                    </tr>
                    <tr>
                        <th>@Html.LabelFor(x => x.FormInput.Description)</th>
                        <td>
                            @Html.TextBoxFor(x => x.FormInput.Description, new { @class = "col-sm-6" })
                            <br />
                            @Html.ValidationMessageFor(x => x.FormInput.Description)
                        </td>
                    </tr>
                </table>
            }
        </div>
    </div>
</div>



