@model Models.EquipmentMaintenance.ResultQuery.ArriveRecordModel

<script type="text/javascript">
    $(document).ready(function () {
        @foreach (var item in Model.CheckResultList)
        {
            <text>$(".@item.UniqueID").colorbox({ rel: '@item.UniqueID', maxWidth: '100%', maxHeight: '100%' });</text>
        }
    });
</script>

<div class="widget-box widget-color-dark">
    <div class="widget-header">
        <h5 class="widget-title bigger lighter">
            @Model.ControlPoint
        </h5>
        <div class="widget-toolbar">
            <a href="#" onclick="Detail('@Model.JobUniqueID', '@Model.CheckDate', ''); return false;">
                <i class="ace-icon fa fa-times white"></i>
            </a>
        </div>
    </div>

    <div class="widget-body">
        <div class="widget-main no-padding" style="overflow:scroll; max-height:500px;">
            <table class="table table-striped table-bordered table-hover nowrap">
                <thead class="thin-border-bottom">
                    <tr>
                        <th class="center">@Resources.Resource.Abnormal</th>
                        <th class="center"><i class="ace-icon fa fa-image bigger-130"></i></th>
                        <th>@Resources.Resource.Equipment</th>
                        <th>@Resources.Resource.CheckItem</th>
                        <th class="center">@Resources.Resource.CheckTime</th>
                        <th>@Resources.Resource.CheckResult</th>
                        <th class="center">@Resources.Resource.LowerLimit</th>
                        <th class="center">@Resources.Resource.LowerAlertLimit</th>
                        <th class="center">@Resources.Resource.UpperAlertLimit</th>
                        <th class="center">@Resources.Resource.UpperLimit</th>
                        <th class="center">@Resources.Resource.Unit</th>
                        <th>@Resources.Resource.CheckUser</th>
                        <th>@Resources.Resource.AbnormalReason @Resources.Resource.And @Resources.Resource.HandlingMethod</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.CheckResultList)
                    {
                        <tr>
                            <td class="center">
                                @if (item.IsAbnormal)
                                {
                                    <span class="label label-lg label-danger arrowed-right">@Resources.Resource.Abnormal</span>
                                }
                                else if (item.IsAlert)
                                {
                                    <span class="label label-lg label-warning arrowed-right">@Resources.Resource.Warning</span>
                                }
                            </td>
                            <td class="center">
                                @if (item.HavePhoto)
                                {
                                    <a class="purple @item.UniqueID" href="@Url.Content("~/EquipmentPatrolPhoto/" + item.PhotoList[0])">
                                        <i class="ace-icon fa fa-image bigger-130"></i>
                                    </a>

                                    for (int j = 1; j < item.PhotoList.Count; j++)
                                    {
                                        <a class="@item.UniqueID hide" href="@Url.Content("~/EquipmentPatrolPhoto/" + item.PhotoList[j])">
                                            <i class="ace-icon fa fa-image bigger-130"></i>
                                        </a>
                                    }
                                }
                            </td>
                            <td>@item.Equipment</td>
                            <td>@item.CheckItem</td>
                            <td class="center">@item.CheckTime</td>
                            <td>@item.Result</td>
                            <td class="center">@item.LowerLimit</td>
                            <td class="center">@item.LowerAlertLimit</td>
                            <td class="center">@item.UpperAlertLimit</td>
                            <td class="center">@item.UpperLimit</td>
                            <td class="center">@item.Unit</td>
                            <td>@Model.User</td>
                            <td>@item.AbnormalReasons</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
