@model IEnumerable<Models.EquipmentMaintenance.ResultQuery.JobModel>

<div class="widget-box widget-color-dark">
    <div class="widget-header">
        <h5 class="widget-title bigger lighter">
            @Resources.Resource.SearchResults
        </h5>
        @if (Model != null && Model.Count() > 0)
        {
            <div class="widget-toolbar">
                <div class="widget-menu">
                    <a href="#" data-toggle="dropdown">
                        <i class="ace-icon fa fa-cloud-download white"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-right dropdown-caret dropdown-closer dropdown-warning">
                        <li>
                            <a href="@Url.Action("Export", new { ExcelVersion = Utility.Define.EnumExcelVersion._2003})">Excel 2003</a>
                        </li>

                        <li>
                            <a href="@Url.Action("Export", new { ExcelVersion = Utility.Define.EnumExcelVersion._2007 })">Excel 2007</a>
                        </li>
                    </ul>
                </div>
            </div>
        }
    </div>

    <div class="widget-body">
        <div class="widget-main no-padding" style="overflow:scroll; max-height:500px;">
            <table class="table table-striped table-bordered table-hover nowrap">
                <thead class="thin-border-bottom">
                    <tr>
                        <th class="center">@Resources.Resource.Detail</th>
                        <th class="center">@Resources.Resource.Abnormal</th>
                        <th>@Resources.Resource.Organization</th>
                        <th>@Resources.Resource.Route @Resources.Resource.Job</th>
                        <th>@Resources.Resource.CheckDate</th>
                        <th>@Resources.Resource.CheckUser</th>
                    </tr>
                </thead>
                @if (Model != null && Model.Count() > 0)
                {
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td class="center">
                                    <div class="action-buttons">
                                        <a class="blue" href="#" onclick="Detail('@item.JobUniqueID', '@item.CheckDate', '');" title="@Resources.Resource.Detail">
                                            <i class="ace-icon fa fa-search-plus bigger-130"></i>
                                        </a>
                                    </div>
                                </td>
                                <td class="center">
                                    @if (item.HaveAbnormal)
                                    {
                                        <span class="label label-lg label-danger arrowed-right">@Resources.Resource.Abnormal</span>
                                    }
                                    else if (item.HaveAlert)
                                    {
                                        <span class="label label-lg label-warning arrowed-right">@Resources.Resource.Warning</span>
                                    }
                                </td>
                                <td>@item.OrganizationDescription</td>
                                <td>@item.Description</td>
                                <td>@item.CheckDate</td>
                                <td>@item.CheckUsers</td>
                            </tr>
                        }
                    </tbody>
                }
            </table>
        </div>
    </div>
</div>



