@model Models.ASE.AbnormalNotify.SummaryViewModel

@if (Model != null && Model.Count > 0)
{
    <div class="well well-lg">
        <h4 class="blue">異常通報管理</h4>
        <hr />
        <div class="row">
            @foreach (var item in Model.ItemList)
            {
                <div class="infobox @item.BoxColor" style="width:200px;">
                    <div class="infobox-icon">
                        <i class="ace-icon fa @item.Icon"></i>
                    </div>

                    <div class="infobox-data" style="min-width:130px;">
                        <span class="infobox-data-number"><a href="@Url.Action("Index", "AbnormalNotify", new { Area = "Customized_ASE", Status = item.Status })">@item.Count</a></span>
                        <div class="infobox-content">@item.Text</div>
                    </div>
                </div>
            }
        </div>
    </div>
}
else
{
    <script type="text/javascript">
        $(document).ready(function () {
            $('#divAbnormalNotifyList').hide();
        });
    </script>
}


