@model Models.EquipmentMaintenance.RepairFormColumnManagement.DetailViewModel


<p>
    @if (ViewBag.CanEdit)
    {
        <button class="btn btn-app btn-primary btn-xs" onclick="Edit('@Model.UniqueID');" type="button">
            <i class="ace-icon fa fa-pencil bigger-160"></i>
            @Resources.Resource.Edit
        </button>
    }

    @if (ViewBag.CanDelete && Model.CanDelete)
    {
        <button class="btn btn-app btn-danger btn-xs" onclick="Delete('@Model.UniqueID');" type="button">
            <i class="ace-icon fa fa-trash-o bigger-160"></i>
            @Resources.Resource.Delete
        </button>
    }

    <button class="btn btn-app btn-success btn-xs" onclick="Query();" type="button">
        <i class="ace-icon fa fa-ban bigger-160"></i>
        @Resources.Resource.Back
    </button>
</p>

<div class="widget-box widget-color-dark">
    <div class="widget-header">
        <h5 class="widget-title">@Resources.Resource.RepairFormColumn</h5>
    </div>

    <div class="widget-body">
        <div class="widget-main no-padding">
            <table class="table table-bordered table-input">
                <tr>
                    <th class="col-sm-1">@Html.LabelFor(x => x.AncestorOrganizationDescription)</th>
                    <td class="col-sm-11">@Html.DisplayFor(x => x.AncestorOrganizationDescription)</td>
                </tr>
                <tr>
                    <th>@Html.LabelFor(x => x.Description)</th>
                    <td>@Html.DisplayFor(x => x.Description)</td>
                </tr>
                <tr>
                    <th><label>@Resources.Resource.RepairFormColumn @Resources.Resource.Option</label></th>
                    <td>@Html.DisplayFor(x => x.Options)</td>
                </tr>
            </table>
        </div>
    </div>
</div>