@model IEnumerable<Models.EquipmentMaintenance.RepairFormTypeManagement.SubjectModel>

<table class="table table-striped table-bordered table-hover nowrap" id="tableSubject">
    <thead class="thin-border-bottom">
        <tr>
            <th class="col-sm-1"></th>
            <th class="col-sm-2">@Resources.Resource.RepairFormSubjectID</th>
            <th class="col-sm-9">@Resources.Resource.RepairFormSubjectDescription</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td class="center">
                    <input type="hidden" class="Subject" value="@item.UniqueID" />
                    <div class="action-buttons">
                        <a class="red" href="#" onclick="DeleteSubject('@item.UniqueID'); return false;" title="@Resources.Resource.Delete">
                            <i class="ace-icon fa fa-trash-o bigger-130"></i>
                        </a>
                    </div>
                </td>
                <td>@item.ID</td>
                <td>@item.Description</td>
            </tr>
        }
    </tbody>

</table>
